<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLevelMomentum</key>
	<string>bufferAndMode</string>
	<key>builderProcessState</key>
	<string>mobxLevelRate</string>
	<key>canvasThanTask</key>
	<string>flexibleInterpolationPosition</string>
	<key>checkboxEnvironmentShade</key>
	<string>cartesianEntityStyle</string>
	<key>delegateContainInterpreter</key>
	<string>challengeAwaySingleton</string>
	<key>equalizationFrameworkValidation</key>
	<string>constCubeSize</string>
	<key>explicitRequestTheme</key>
	<string>usedLocalizationDensity</string>
	<key>monsterEnvironmentBorder</key>
	<string>memberOutsideType</string>
	<key>spotOperationSkewx</key>
	<string>observerFrameworkDuration</string>
</dict>
</plist>
