<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateViaType</key>
	<string>gridviewViaBuffer</string>
	<key>grainViaFunction</key>
	<string>keyAwaitShade</string>
	<key>musicBeyondMediator</key>
	<string>mainQueryLocation</string>
	<key>robustHistogramAppearance</key>
	<string>reducerFlyweightFormat</string>
	<key>zoneAmongNumber</key>
	<string>diffableDurationType</string>
</dict>
</plist>
