<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVisitorShape</key>
	<string>permissiveOptionState</string>
	<key>deferredResponseDirection</key>
	<string>cupertinoSessionStyle</string>
	<key>explicitProviderFlags</key>
	<string>keySingletonMomentum</string>
	<key>featureWithTemple</key>
	<string>interpolationMementoSize</string>
	<key>gradientDuringNumber</key>
	<string>routerTypeSaturation</string>
	<key>handlerInsideCommand</key>
	<string>multiplicationAlongTask</string>
	<key>smallZonePadding</key>
	<string>touchCompositeBehavior</string>
</dict>
</plist>
