<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalVectorAcceleration</key>
	<string>segueVisitorFeedback</string>
	<key>delegateProcessOrigin</key>
	<string>cursorUntilWork</string>
	<key>utilProxyHue</key>
	<string>animatedVectorPressure</string>
</dict>
</plist>
