<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRouterBorder</key>
	<string>lazyFrameScale</string>
	<key>factoryJobSkewy</key>
	<string>prismaticVariantContrast</string>
	<key>fixedSizedboxState</key>
	<string>checklistTemplePressure</string>
	<key>popupFormType</key>
	<string>resultWithoutEnvironment</string>
	<key>scaleOfParam</key>
	<string>scrollableDocumentShape</string>
</dict>
</plist>
