<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopSinkInteraction</key>
	<string>scrollableAssetDepth</string>
	<key>easyConsumerForce</key>
	<string>newestVectorBehavior</string>
	<key>functionalOptimizerMomentum</key>
	<string>customLabelMomentum</string>
	<key>iconVarTop</key>
	<string>curveSinceShape</string>
	<key>lossIncludeVariable</key>
	<string>specifyLayerVisible</string>
	<key>navigatorTempleDuration</key>
	<string>reactivePetColor</string>
	<key>otherMediaqueryPadding</key>
	<string>previewOutsideObserver</string>
	<key>permissiveBlocTransparency</key>
	<string>shaderThanStrategy</string>
	<key>singletonTierAlignment</key>
	<string>sequentialLabelSkewy</string>
</dict>
</plist>
