<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAsyncContrast</key>
	<string>interpolationCommandVisible</string>
	<key>asyncFunctionHue</key>
	<string>lossDespiteProxy</string>
	<key>kernelTempleDelay</key>
	<string>usecaseIncludeDecorator</string>
	<key>logarithmProcessLeft</key>
	<string>cubitWithoutPhase</string>
	<key>marginForContext</key>
	<string>coordinatorModeEdge</string>
	<key>metadataAgainstProxy</key>
	<string>durationTypeFlags</string>
	<key>multiSingletonIndex</key>
	<string>methodParameterEdge</string>
	<key>painterStyleCoord</key>
	<string>webSpriteSpacing</string>
	<key>providerMethodScale</key>
	<string>asyncVersusParameter</string>
	<key>rapidTextAppearance</key>
	<string>metadataInForm</string>
</dict>
</plist>
