<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTweenRotation</key>
	<string>sliderNumberDirection</string>
	<key>checklistUntilPlatform</key>
	<string>titleTempleAppearance</string>
	<key>kernelFlyweightVisibility</key>
	<string>temporaryTextureCoord</string>
	<key>unsortedTabviewFormat</key>
	<string>unsortedStorageLeft</string>
</dict>
</plist>
