<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFormBehavior</key>
	<string>layoutIncludeProxy</string>
	<key>concreteRouteDensity</key>
	<string>streamSystemCoord</string>
	<key>cubitScopeVisible</key>
	<string>easyNavigatorSpacing</string>
	<key>durationNearOperation</key>
	<string>activatedViewEdge</string>
	<key>giftOrParam</key>
	<string>robustFeatureResponse</string>
	<key>grainDecoratorOrigin</key>
	<string>tickerVariableLeft</string>
	<key>iterativeBrushDelay</key>
	<string>localizationProcessPosition</string>
	<key>queueStyleAppearance</key>
	<string>dedicatedAlignmentTop</string>
	<key>radiusSinceParam</key>
	<string>binaryAtMediator</string>
	<key>visibleExceptionTail</key>
	<string>diffableEntityType</string>
</dict>
</plist>
