<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleScopeFlags</key>
	<string>widgetTierInset</string>
	<key>interactorViaTemple</key>
	<string>indicatorAtEnvironment</string>
	<key>priorityFromSystem</key>
	<string>delicateRowInteraction</string>
	<key>providerBridgeVelocity</key>
	<string>multiplicationMementoBrightness</string>
	<key>sizeContextHead</key>
	<string>modalStageRate</string>
	<key>techniqueThroughType</key>
	<string>semanticRectKind</string>
	<key>vectorProcessFrequency</key>
	<string>titleAgainstVisitor</string>
</dict>
</plist>
