<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerLayerState</key>
	<string>builderWithStructure</string>
	<key>asyncAboutBuffer</key>
	<string>mediumTextDelay</string>
	<key>behaviorAndAdapter</key>
	<string>clipperExceptNumber</string>
	<key>chapterActivityLeft</key>
	<string>blocPhaseOrientation</string>
	<key>durationThanProcess</key>
	<string>lostButtonResponse</string>
	<key>instructionAroundPlatform</key>
	<string>cyclePrototypeBottom</string>
	<key>localBufferFormat</key>
	<string>nodePerComposite</string>
	<key>overlayNumberCenter</key>
	<string>grainVarBehavior</string>
	<key>reusableAccessoryTheme</key>
	<string>directStackBehavior</string>
	<key>zoneStyleOrigin</key>
	<string>positionAdapterResponse</string>
</dict>
</plist>
