<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridOrScope</key>
	<string>gramCommandAlignment</string>
	<key>materialCompletionAlignment</key>
	<string>delegateThanPrototype</string>
	<key>resilientInterfaceOffset</key>
	<string>routeThanChain</string>
	<key>routeCommandVelocity</key>
	<string>actionAtAdapter</string>
	<key>titleTypeSkewx</key>
	<string>workflowCommandShade</string>
	<key>utilAroundPattern</key>
	<string>bitrateAndBuffer</string>
</dict>
</plist>
