<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteEntityDirection</key>
	<string>apertureStyleTail</string>
	<key>entropyCommandKind</key>
	<string>beginnerCompleterRotation</string>
	<key>particleTempleFeedback</key>
	<string>discardedNibLocation</string>
</dict>
</plist>
