<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCubitDirection</key>
	<string>expandedContextMode</string>
	<key>explicitTableIndex</key>
	<string>compositionalModalForce</string>
	<key>firstConstraintIndex</key>
	<string>errorPatternLeft</string>
	<key>heroInEnvironment</key>
	<string>unsortedProviderTint</string>
	<key>pivotalPromiseFrequency</key>
	<string>bufferActivityAppearance</string>
	<key>publicFlexOrigin</key>
	<string>sceneVariableLocation</string>
	<key>storyboardVisitorDelay</key>
	<string>agileCommandSpacing</string>
	<key>storyboardWithCommand</key>
	<string>inkwellBesideType</string>
	<key>topicAsTask</key>
	<string>multiplicationContextIndex</string>
</dict>
</plist>
