<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterContainEnvironment</key>
	<string>backwardRequestAlignment</string>
	<key>denseStateFlags</key>
	<string>sineAdapterPosition</string>
	<key>displayableMusicBehavior</key>
	<string>injectionFrameworkFlags</string>
	<key>dynamicEqualizationAppearance</key>
	<string>techniqueModeRate</string>
	<key>normalDrawerBound</key>
	<string>decorationTempleEdge</string>
	<key>otherTextCenter</key>
	<string>sharedDurationRight</string>
	<key>stackInParameter</key>
	<string>sequentialEqualizationInset</string>
	<key>tappableRepositoryStatus</key>
	<string>resultEnvironmentContrast</string>
	<key>usageContextName</key>
	<string>loopNearContext</string>
</dict>
</plist>
