<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAtAdapter</key>
	<string>visibleConstraintTint</string>
	<key>constraintEnvironmentSkewy</key>
	<string>marginLevelLocation</string>
	<key>hyperbolicTaskDensity</key>
	<string>respectiveGridDistance</string>
	<key>presenterValueKind</key>
	<string>projectNearState</string>
	<key>publicFutureStatus</key>
	<string>tabviewThroughSystem</string>
	<key>richtextStructureSpacing</key>
	<string>ephemeralFutureLeft</string>
	<key>sineTierTheme</key>
	<string>capacitiesUntilJob</string>
	<key>usedDrawerShade</key>
	<string>grainCycleOpacity</string>
</dict>
</plist>
