<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedListenerMode</key>
	<string>dimensionUntilFramework</string>
	<key>consumerForContext</key>
	<string>catalystViaPattern</string>
	<key>hardToolDirection</key>
	<string>storeAwayForm</string>
	<key>managerAwayEnvironment</key>
	<string>priorityWorkOrigin</string>
	<key>pageviewFormVelocity</key>
	<string>heroWorkTransparency</string>
	<key>resultDespiteProcess</key>
	<string>intensityActionShape</string>
	<key>reusableContainerCount</key>
	<string>inheritedButtonCoord</string>
	<key>smallGraphTint</key>
	<string>textfieldContainChain</string>
	<key>unsortedTopicTheme</key>
	<string>stampContextCoord</string>
</dict>
</plist>
