<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProcessName</key>
	<string>tensorRouteMomentum</string>
	<key>granularDurationStyle</key>
	<string>semanticStatelessInset</string>
	<key>gridKindIndex</key>
	<string>techniqueFromTier</string>
	<key>rapidParticlePadding</key>
	<string>specifyQuerySize</string>
	<key>sceneSystemHead</key>
	<string>navigatorVisitorRotation</string>
	<key>stepOutsideKind</key>
	<string>currentResponseRight</string>
	<key>usecaseObserverTint</key>
	<string>basicCoordinatorCenter</string>
</dict>
</plist>
