<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStructureSkewx</key>
	<string>tabviewChainDelay</string>
	<key>certificateScopeTheme</key>
	<string>expandedWithoutCommand</string>
	<key>compositionalLabelMargin</key>
	<string>signTempleCount</string>
	<key>instructionUntilState</key>
	<string>sliderFrameworkFlags</string>
	<key>radioIncludeChain</key>
	<string>hardDropdownbuttonSkewy</string>
	<key>radiusInsideType</key>
	<string>matrixVisitorBound</string>
	<key>reusableContainerKind</key>
	<string>interactorByBuffer</string>
	<key>similarGraphHue</key>
	<string>sortedTimerInset</string>
</dict>
</plist>
