<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorInsideForm</key>
	<string>interactorCycleSkewy</string>
	<key>crucialConstraintForce</key>
	<string>flexForOperation</string>
	<key>functionalTextureFeedback</key>
	<string>getxLikeSystem</string>
	<key>gramForProcess</key>
	<string>cursorTierBorder</string>
	<key>mobileMissionAlignment</key>
	<string>opaqueSegmentKind</string>
	<key>playbackPrototypeStatus</key>
	<string>menuPlatformAlignment</string>
	<key>protocolPatternVelocity</key>
	<string>requestProxyHue</string>
	<key>themeMediatorTransparency</key>
	<string>graphMethodPressure</string>
</dict>
</plist>
