<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCachePressure</key>
	<string>memberScopeBorder</string>
	<key>builderFromStage</key>
	<string>descriptorLikeAdapter</string>
	<key>directSpineRotation</key>
	<string>cursorCycleMomentum</string>
	<key>projectionLevelFormat</key>
	<string>functionalBoxshadowDensity</string>
	<key>riverpodTempleOffset</key>
	<string>activatedFeatureTint</string>
</dict>
</plist>
