<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFormState</key>
	<string>subpixelStructureDirection</string>
	<key>graphicAdapterIndex</key>
	<string>usecaseParameterLeft</string>
	<key>nativeTextureVelocity</key>
	<string>usecaseBufferVisible</string>
	<key>nodeInterpreterContrast</key>
	<string>descriptorAmongMemento</string>
	<key>persistentResultSize</key>
	<string>methodAlongStructure</string>
	<key>semanticsLikeState</key>
	<string>presenterValueInteraction</string>
	<key>sophisticatedListviewDelay</key>
	<string>musicMediatorTop</string>
	<key>titlePhaseOffset</key>
	<string>overlayChainVelocity</string>
	<key>viewAndTask</key>
	<string>entropyContextDensity</string>
</dict>
</plist>
