<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTangentTension</key>
	<string>factoryExceptChain</string>
	<key>inkwellWorkContrast</key>
	<string>precisionFromSingleton</string>
	<key>retainedLayerVisible</key>
	<string>expandedThroughComposite</string>
	<key>scaleDespiteFacade</key>
	<string>projectDecoratorHue</string>
	<key>semanticDurationVisibility</key>
	<string>profileAsFunction</string>
</dict>
</plist>
