<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorOutsideStructure</key>
	<string>singleServiceIndex</string>
	<key>bitrateDecoratorRate</key>
	<string>animatedDurationType</string>
	<key>callbackOutsideKind</key>
	<string>mobileFlyweightInset</string>
	<key>nodeJobMode</key>
	<string>gridNearFunction</string>
	<key>radiusWithoutParameter</key>
	<string>bufferStructureDensity</string>
	<key>significantConsumerFeedback</key>
	<string>agileHandlerBrightness</string>
	<key>tappableDropdownbuttonMargin</key>
	<string>layerBridgeOffset</string>
</dict>
</plist>
