<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAndStrategy</key>
	<string>compositionSinceEnvironment</string>
	<key>channelsProxyAppearance</key>
	<string>crucialRiverpodShape</string>
	<key>hyperbolicMultiplicationSaturation</key>
	<string>explicitTickerVisibility</string>
	<key>playbackIncludeComposite</key>
	<string>compositionAgainstObserver</string>
	<key>popupViaFramework</key>
	<string>autoMusicHue</string>
	<key>stateCycleKind</key>
	<string>vectorPhaseSpacing</string>
	<key>storeStateFlags</key>
	<string>effectKindPosition</string>
	<key>workflowNearStage</key>
	<string>layoutTempleBottom</string>
</dict>
</plist>
