<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedTaskVisibility</key>
	<string>mediumStorageTheme</string>
	<key>descriptorBufferSaturation</key>
	<string>streamSystemTransparency</string>
	<key>methodVersusOperation</key>
	<string>positionUntilFramework</string>
	<key>overlaySystemColor</key>
	<string>masterParamType</string>
	<key>pointContainProxy</key>
	<string>zoneDecoratorRate</string>
	<key>sophisticatedEventShade</key>
	<string>commonImageForce</string>
	<key>sortedTextfieldBrightness</key>
	<string>sineWithoutProcess</string>
</dict>
</plist>
