<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorBufferSaturation</key>
	<string>reductionStructureBound</string>
	<key>animationPhaseResponse</key>
	<string>gestureTaskLocation</string>
	<key>capacitiesFunctionAppearance</key>
	<string>tableOrJob</string>
	<key>delegateWorkVelocity</key>
	<string>backwardProviderBehavior</string>
	<key>gridviewVarSkewx</key>
	<string>containerFlyweightAlignment</string>
	<key>injectionDuringValue</key>
	<string>chapterExceptSingleton</string>
	<key>interfaceDespiteTier</key>
	<string>rectNumberEdge</string>
	<key>spotOfMemento</key>
	<string>callbackJobRight</string>
	<key>textureExceptWork</key>
	<string>fixedCurveSkewy</string>
</dict>
</plist>
