<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAboutBridge</key>
	<string>equipmentProcessBottom</string>
	<key>methodThanTemple</key>
	<string>disabledNormTint</string>
	<key>navigatorEnvironmentForce</key>
	<string>explicitEffectTop</string>
	<key>promisePerTier</key>
	<string>cardBeyondMediator</string>
	<key>unaryFrameworkHead</key>
	<string>bulletByValue</string>
</dict>
</plist>
