<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousStackHead</key>
	<string>loopOrPattern</string>
	<key>checkboxInterpreterTop</key>
	<string>multiMetadataPressure</string>
	<key>containerWithChain</key>
	<string>seamlessResolverResponse</string>
	<key>heapForForm</key>
	<string>modulusStateSpeed</string>
	<key>lazySizeFlags</key>
	<string>sizedboxByForm</string>
	<key>presenterParamHead</key>
	<string>interactiveIsolateRight</string>
	<key>rectSystemBound</key>
	<string>diffableTopicMode</string>
</dict>
</plist>
