<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleUsecaseTail</key>
	<string>labelUntilTier</string>
	<key>denseTabbarSaturation</key>
	<string>iterativeLayoutType</string>
	<key>draggableModulusSkewy</key>
	<string>autoObserverKind</string>
	<key>optimizerBesideContext</key>
	<string>channelLayerCenter</string>
	<key>sensorViaOperation</key>
	<string>delegateFromKind</string>
	<key>tableExceptSingleton</key>
	<string>asynchronousHandlerRotation</string>
</dict>
</plist>
