<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStyleStyle</key>
	<string>errorTempleMomentum</string>
	<key>customResolverHue</key>
	<string>projectionStageBound</string>
	<key>imperativeDelegateSkewx</key>
	<string>indicatorVisitorState</string>
	<key>permanentSwiftTension</key>
	<string>groupStyleInset</string>
	<key>taskExceptMemento</key>
	<string>drawerUntilActivity</string>
</dict>
</plist>
