<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsOrFlyweight</key>
	<string>popupVersusFacade</string>
	<key>pivotalUtilSkewx</key>
	<string>liteSizeFrequency</string>
	<key>secondEventRight</key>
	<string>smartViewDistance</string>
	<key>switchThanLevel</key>
	<string>projectDespiteVisitor</string>
	<key>toolAndStage</key>
	<string>assetThroughLayer</string>
	<key>zoneAboutOperation</key>
	<string>methodScopeFrequency</string>
</dict>
</plist>
