<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableCubitOffset</key>
	<string>immutableCursorPosition</string>
	<key>drawerAndProcess</key>
	<string>modalContextDelay</string>
	<key>easyIsolateDirection</key>
	<string>controllerMethodState</string>
	<key>notificationPatternOffset</key>
	<string>difficultChartPressure</string>
	<key>serviceMediatorTheme</key>
	<string>completionFromStyle</string>
	<key>tensorSizedboxTransparency</key>
	<string>textDespiteVariable</string>
	<key>topicMementoDepth</key>
	<string>sizedboxInTier</string>
	<key>vectorNearPlatform</key>
	<string>webModelCount</string>
	<key>widgetAdapterHead</key>
	<string>characterStageLeft</string>
</dict>
</plist>
