<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableNavigatorTint</key>
	<string>entityBesideParam</string>
	<key>interpolationViaKind</key>
	<string>resultOfInterpreter</string>
	<key>positionScopeSkewx</key>
	<string>mediumConvolutionIndex</string>
	<key>previewWithoutShape</key>
	<string>textFromStage</string>
	<key>responsiveCoordinatorTag</key>
	<string>isolateDecoratorSkewx</string>
	<key>sizeKindShade</key>
	<string>notifierTempleInset</string>
	<key>switchKindRotation</key>
	<string>activityContainLayer</string>
</dict>
</plist>
