<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchFromScope</key>
	<string>segueAmongBridge</string>
	<key>drawerInsideSystem</key>
	<string>vectorWorkDelay</string>
	<key>exceptionStructureBorder</key>
	<string>sizeScopeDistance</string>
	<key>mediaqueryLayerDistance</key>
	<string>requiredRadioTop</string>
	<key>monsterViaMediator</key>
	<string>menuStrategyOffset</string>
</dict>
</plist>
