<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalTickerOrientation</key>
	<string>accessoryProxyInteraction</string>
	<key>injectionTempleTail</key>
	<string>similarColumnBorder</string>
	<key>interactorVariableEdge</key>
	<string>largeControllerSkewx</string>
	<key>nativeSubscriptionSaturation</key>
	<string>hierarchicalGraphBottom</string>
	<key>providerFacadeShape</key>
	<string>histogramAndCommand</string>
	<key>storageCommandValidation</key>
	<string>easyQueryForce</string>
	<key>tensorWorkflowRotation</key>
	<string>inheritedProviderAcceleration</string>
</dict>
</plist>
