<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBehaviorTension</key>
	<string>semanticCompositionTheme</string>
	<key>autoAssetDuration</key>
	<string>activatedStatelessInset</string>
	<key>bulletChainHue</key>
	<string>dedicatedScaleTag</string>
	<key>displayableGetxEdge</key>
	<string>gridviewInterpreterAppearance</string>
	<key>sustainableFrameTension</key>
	<string>riverpodSinceMethod</string>
</dict>
</plist>
