<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentByFlyweight</key>
	<string>localSymbolTheme</string>
	<key>finalAspectratioTail</key>
	<string>nativeStorageMomentum</string>
	<key>frameOrActivity</key>
	<string>custompaintWithoutDecorator</string>
	<key>graphAsAction</key>
	<string>loopCommandTint</string>
	<key>methodTierState</key>
	<string>themeFormBrightness</string>
	<key>optionPlatformPosition</key>
	<string>basicOptimizerAlignment</string>
	<key>resolverNearVariable</key>
	<string>opaqueSpritePadding</string>
	<key>rowActionEdge</key>
	<string>graphicForPlatform</string>
	<key>symbolCommandRotation</key>
	<string>graphicDespiteWork</string>
</dict>
</plist>
