<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistSystemPadding</key>
	<string>borderTaskShade</string>
	<key>containerParameterMomentum</key>
	<string>primaryErrorTint</string>
	<key>directIndicatorAlignment</key>
	<string>bufferAmongPattern</string>
	<key>gesturedetectorStageBound</key>
	<string>captionTierMomentum</string>
	<key>presenterOfKind</key>
	<string>lostCallbackInset</string>
	<key>publicZoneAlignment</key>
	<string>requiredCubitAppearance</string>
	<key>streamStateOrigin</key>
	<string>heroTempleStatus</string>
</dict>
</plist>
