<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOfPhase</key>
	<string>histogramAdapterDepth</string>
	<key>assetOrFramework</key>
	<string>deferredChallengePadding</string>
	<key>canvasViaMediator</key>
	<string>descriptorStageSkewx</string>
	<key>indicatorValueBottom</key>
	<string>layerNumberCenter</string>
	<key>layerTypeAlignment</key>
	<string>skirtTaskRate</string>
	<key>protocolLikeScope</key>
	<string>mainLayoutFlags</string>
	<key>seamlessInterfaceTransparency</key>
	<string>apertureTaskMomentum</string>
	<key>significantModelFormat</key>
	<string>playbackPlatformVelocity</string>
	<key>statefulMenuInteraction</key>
	<string>constraintAboutStage</string>
	<key>titleTempleSize</key>
	<string>integerTypeDirection</string>
</dict>
</plist>
