<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileButtonMargin</key>
	<string>managerInsideSingleton</string>
	<key>animationInsideLevel</key>
	<string>resilientInterfaceColor</string>
	<key>boxshadowAwayMemento</key>
	<string>capsuleWorkHead</string>
	<key>completerParamTag</key>
	<string>contractionAmongActivity</string>
	<key>customVariantColor</key>
	<string>rectObserverTag</string>
	<key>newestCubitCenter</key>
	<string>textureDecoratorVisibility</string>
	<key>otherTimerOrigin</key>
	<string>chartByStructure</string>
	<key>scaleBeyondScope</key>
	<string>sinkThanActivity</string>
</dict>
</plist>
