<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInsideShape</key>
	<string>durationTempleRight</string>
	<key>compositionShapeShape</key>
	<string>statefulWidgetAcceleration</string>
	<key>customizedCommandLocation</key>
	<string>otherSingletonMode</string>
	<key>dependencyThanAdapter</key>
	<string>concreteGridTag</string>
	<key>durationCommandCenter</key>
	<string>interfaceNumberInset</string>
	<key>injectionAndActivity</key>
	<string>semanticIconDirection</string>
	<key>missedTangentFlags</key>
	<string>equalizationTaskFormat</string>
	<key>protocolFrameworkRate</key>
	<string>grainChainSkewx</string>
</dict>
</plist>
