<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOutsideBridge</key>
	<string>reductionCycleMode</string>
	<key>gestureLayerFlags</key>
	<string>drawerVisitorShape</string>
	<key>nodeDespiteType</key>
	<string>displayableFuturePadding</string>
	<key>playbackByScope</key>
	<string>factoryAlongTask</string>
	<key>stepNumberSkewx</key>
	<string>marginDecoratorBottom</string>
	<key>transformerBridgeStyle</key>
	<string>shaderOfCommand</string>
</dict>
</plist>
