<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBuilderMargin</key>
	<string>observerLayerTint</string>
	<key>effectNearMemento</key>
	<string>blocVersusProxy</string>
	<key>standaloneVectorTransparency</key>
	<string>tensorFrameOpacity</string>
	<key>storeParamTint</key>
	<string>cursorPhaseShade</string>
</dict>
</plist>
