<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentEventTag</key>
	<string>textEnvironmentCount</string>
	<key>resizableRectSpacing</key>
	<string>criticalStorageTension</string>
	<key>richtextPlatformColor</key>
	<string>taskPlatformOrientation</string>
</dict>
</plist>
