<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalDelegateInteraction</key>
	<string>subtleNavigationShade</string>
	<key>descriptorWithoutStage</key>
	<string>taskFacadeOffset</string>
	<key>notifierCompositeResponse</key>
	<string>topicProxyMargin</string>
	<key>screenUntilVar</key>
	<string>asyncPatternSpeed</string>
	<key>symmetricDropdownbuttonTag</key>
	<string>significantRepositoryContrast</string>
</dict>
</plist>
