<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInsideInterpreter</key>
	<string>inkwellAgainstPrototype</string>
	<key>baseInEnvironment</key>
	<string>characterAsScope</string>
	<key>featureFunctionPressure</key>
	<string>allocatorAtMediator</string>
	<key>missedBinaryRate</key>
	<string>dependencyAmongTier</string>
	<key>nibAndFunction</key>
	<string>localGateCoord</string>
	<key>offsetDespiteNumber</key>
	<string>relationalConfigurationMomentum</string>
	<key>resizableArithmeticPadding</key>
	<string>crucialTickerFlags</string>
</dict>
</plist>
