<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableAllocatorRotation</key>
	<string>explicitBuilderMode</string>
	<key>monsterAroundPrototype</key>
	<string>queueInsideScope</string>
	<key>popupFrameworkType</key>
	<string>entropyWithoutAction</string>
	<key>positionStageIndex</key>
	<string>queueLevelTag</string>
	<key>reductionShapeEdge</key>
	<string>constCardShape</string>
	<key>substantialPositionState</key>
	<string>utilScopeLocation</string>
</dict>
</plist>
