<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushPhaseVelocity</key>
	<string>intensityVisitorBound</string>
	<key>nextScreenBorder</key>
	<string>lazyListviewBound</string>
	<key>notifierCompositeBottom</key>
	<string>iconStyleForce</string>
	<key>reactiveSpineDistance</key>
	<string>sliderDuringBridge</string>
	<key>rectWithoutPrototype</key>
	<string>reactiveUnaryBrightness</string>
	<key>scaffoldOrShape</key>
	<string>mainGraphSpacing</string>
	<key>sinkAwayStage</key>
	<string>cosineOutsideLayer</string>
	<key>tickerAwayDecorator</key>
	<string>reusableBulletRate</string>
</dict>
</plist>
