<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAlertMomentum</key>
	<string>providerAndOperation</string>
	<key>alignmentUntilShape</key>
	<string>animatedTaskBound</string>
	<key>aspectratioValueValidation</key>
	<string>playbackKindEdge</string>
	<key>marginPerTier</key>
	<string>momentumDecoratorOrientation</string>
	<key>normalProviderOpacity</key>
	<string>descriptionLikeMemento</string>
	<key>relationalBlocBottom</key>
	<string>plateMementoDuration</string>
	<key>statefulInPlatform</key>
	<string>ignoredDrawerKind</string>
	<key>tensorSpotFrequency</key>
	<string>statelessOffsetDirection</string>
	<key>uniqueQueryFrequency</key>
	<string>independentUnaryDepth</string>
</dict>
</plist>
