<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInsideCycle</key>
	<string>bufferLayerMargin</string>
	<key>commonPresenterTint</key>
	<string>sortedAnimationBorder</string>
	<key>configurationDespiteBridge</key>
	<string>mediaByProcess</string>
	<key>curveIncludeBuffer</key>
	<string>sizeBufferIndex</string>
	<key>isolateVersusProxy</key>
	<string>synchronousEqualizationState</string>
	<key>marginAtFramework</key>
	<string>petVisitorAcceleration</string>
	<key>offsetPerStage</key>
	<string>cubitLikeMode</string>
	<key>permissiveBufferDepth</key>
	<string>materialNodeBorder</string>
	<key>sampleNearFunction</key>
	<string>consumerFlyweightShape</string>
	<key>subscriptionParameterDepth</key>
	<string>layoutBeyondPlatform</string>
</dict>
</plist>
