<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetSingletonAcceleration</key>
	<string>temporaryMovementOrigin</string>
	<key>baselinePerInterpreter</key>
	<string>reusableLayerEdge</string>
	<key>builderCompositeDistance</key>
	<string>routeChainTension</string>
	<key>crucialModalName</key>
	<string>liteLogBorder</string>
	<key>customizedMusicSkewy</key>
	<string>cupertinoArithmeticState</string>
	<key>missionInOperation</key>
	<string>robustControllerValidation</string>
	<key>singleOffsetBorder</key>
	<string>materialResultScale</string>
	<key>visibleEntityTransparency</key>
	<string>capsuleIncludeMemento</string>
</dict>
</plist>
