<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonActivityEdge</key>
	<string>opaqueResourceMomentum</string>
	<key>chartStageRate</key>
	<string>navigationAlongPrototype</string>
	<key>errorFormScale</key>
	<string>decorationBesideState</string>
	<key>menuInterpreterOrientation</key>
	<string>topicVariableScale</string>
	<key>numericalSizeBound</key>
	<string>asyncNearPattern</string>
	<key>sizePrototypeVisibility</key>
	<string>permissiveCapsuleShade</string>
</dict>
</plist>
