<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSpotShape</key>
	<string>decorationThanParam</string>
	<key>buttonKindHue</key>
	<string>precisionThanStructure</string>
	<key>buttonSingletonInset</key>
	<string>decorationVersusInterpreter</string>
	<key>modulusThroughMethod</key>
	<string>projectLikeWork</string>
	<key>nodeThroughStyle</key>
	<string>controllerVarSpacing</string>
	<key>rapidStoryboardSize</key>
	<string>coordinatorSystemInteraction</string>
	<key>riverpodCompositeAcceleration</key>
	<string>significantNormInterval</string>
	<key>scrollObserverVisibility</key>
	<string>delegateVariableShade</string>
</dict>
</plist>
