<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleDuringContext</key>
	<string>finalExceptionMode</string>
	<key>hierarchicalMediaFlags</key>
	<string>optionParamInset</string>
	<key>ignoredTaskShade</key>
	<string>permissiveLoopTheme</string>
	<key>sineVarBound</key>
	<string>roleTypeVisibility</string>
</dict>
</plist>
