<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFromParam</key>
	<string>ephemeralModalKind</string>
	<key>cubitDuringEnvironment</key>
	<string>concreteGrainName</string>
	<key>sophisticatedCosineShape</key>
	<string>kernelStrategyDistance</string>
	<key>symbolDuringCycle</key>
	<string>cubitStructureDelay</string>
</dict>
</plist>
