<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianColumnHue</key>
	<string>bitrateBridgeHead</string>
	<key>lostResolverShape</key>
	<string>mediaAgainstVariable</string>
	<key>repositoryMethodEdge</key>
	<string>statefulGraphName</string>
	<key>taskAwayStrategy</key>
	<string>mobileOfTask</string>
	<key>tweenSystemTransparency</key>
	<string>methodLayerEdge</string>
</dict>
</plist>
