<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheInsideFramework</key>
	<string>anchorFlyweightMode</string>
	<key>errorAgainstProcess</key>
	<string>materialBlocRotation</string>
	<key>loopThroughParameter</key>
	<string>statelessWithMemento</string>
	<key>missedCapacitiesBrightness</key>
	<string>screenAlongParam</string>
	<key>nibAroundForm</key>
	<string>stampFlyweightHue</string>
	<key>originalAspectratioName</key>
	<string>dependencyOutsideKind</string>
	<key>pointSinceSingleton</key>
	<string>smartBaselineMode</string>
	<key>textfieldNumberFeedback</key>
	<string>sophisticatedPresenterBorder</string>
	<key>timerInLevel</key>
	<string>sliderPhaseBehavior</string>
</dict>
</plist>
