<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileStatePressure</key>
	<string>completerBufferOrigin</string>
	<key>animationStructureForce</key>
	<string>matrixCommandStatus</string>
	<key>effectAroundFramework</key>
	<string>overlayExceptVisitor</string>
	<key>gridContextSpeed</key>
	<string>projectStyleTail</string>
	<key>lazyDurationContrast</key>
	<string>intermediateBitrateBrightness</string>
	<key>toolAboutPattern</key>
	<string>constTweenRight</string>
</dict>
</plist>
