<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePopupSpeed</key>
	<string>modalOutsideContext</string>
	<key>equipmentAndParameter</key>
	<string>streamDespiteContext</string>
	<key>functionalSubscriptionVelocity</key>
	<string>cupertinoBufferOpacity</string>
	<key>techniquePhaseBorder</key>
	<string>animationUntilWork</string>
</dict>
</plist>
