<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonValueTheme</key>
	<string>disabledVariantShade</string>
	<key>canvasParamRate</key>
	<string>futureInterpreterOffset</string>
	<key>permanentConfigurationTop</key>
	<string>semanticListviewForce</string>
	<key>temporaryOverlayFeedback</key>
	<string>actionContainVisitor</string>
	<key>timerUntilNumber</key>
	<string>columnInScope</string>
</dict>
</plist>
