<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStyleName</key>
	<string>projectionCommandShape</string>
	<key>intermediatePageviewRate</key>
	<string>taskViaVar</string>
	<key>profileLayerMomentum</key>
	<string>graphAtFramework</string>
	<key>resultBesideFramework</key>
	<string>slashFlyweightKind</string>
	<key>similarCharacterFormat</key>
	<string>diffableFutureHue</string>
	<key>streamTaskEdge</key>
	<string>dedicatedArithmeticPressure</string>
</dict>
</plist>
