<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardProxySkewx</key>
	<string>captionBufferPadding</string>
	<key>containerDespiteKind</key>
	<string>pointOutsideMethod</string>
	<key>futureFacadeStyle</key>
	<string>builderViaWork</string>
	<key>largeOverlayFrequency</key>
	<string>containerTaskRotation</string>
	<key>masterDespiteBuffer</key>
	<string>hardStatelessForce</string>
	<key>usecaseFacadeTint</key>
	<string>statefulProxyContrast</string>
</dict>
</plist>
