<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAlignmentInset</key>
	<string>agileSubscriptionFeedback</string>
	<key>crucialEntityTail</key>
	<string>roleVersusEnvironment</string>
	<key>iconContextContrast</key>
	<string>signatureInterpreterBound</string>
	<key>transitionViaMediator</key>
	<string>errorPhaseBehavior</string>
</dict>
</plist>
