<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocOfBuffer</key>
	<string>projectionPatternHead</string>
	<key>bufferForValue</key>
	<string>descriptionVarValidation</string>
	<key>builderViaWork</key>
	<string>interfaceLikeProxy</string>
	<key>ephemeralReducerOrientation</key>
	<string>equalizationFunctionRate</string>
	<key>euclideanContainerTension</key>
	<string>globalRectBound</string>
	<key>localizationProxyVisibility</key>
	<string>sizeByBridge</string>
	<key>persistentLayoutSaturation</key>
	<string>primarySingletonVelocity</string>
	<key>specifierAsCycle</key>
	<string>radioCycleOpacity</string>
	<key>statefulAlongSingleton</key>
	<string>positionedPhaseForce</string>
	<key>streamActionShade</key>
	<string>chartFromTier</string>
</dict>
</plist>
