<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTabviewOrigin</key>
	<string>streamBesideAction</string>
	<key>bufferInsidePlatform</key>
	<string>lazyTransitionTension</string>
	<key>dedicatedTopicAppearance</key>
	<string>semanticPositionedRotation</string>
	<key>expandedNearVar</key>
	<string>animatedChapterOffset</string>
	<key>hardSegmentLocation</key>
	<string>rapidTextureBehavior</string>
	<key>modelLikeFacade</key>
	<string>viewBeyondEnvironment</string>
	<key>plateDuringForm</key>
	<string>dependencyByBridge</string>
	<key>queryMediatorAppearance</key>
	<string>flexViaChain</string>
	<key>sampleDespiteParam</key>
	<string>alignmentAboutOperation</string>
	<key>storageDecoratorVisible</key>
	<string>mutableModelInteraction</string>
</dict>
</plist>
