<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionContextFlags</key>
	<string>inkwellAdapterVelocity</string>
	<key>advancedQueueMomentum</key>
	<string>vectorMediatorTheme</string>
	<key>collectionWorkBottom</key>
	<string>rapidMediaqueryScale</string>
	<key>dynamicChartValidation</key>
	<string>layoutViaMediator</string>
	<key>mediaqueryFormFlags</key>
	<string>previewWithoutProcess</string>
	<key>priorSwiftOrientation</key>
	<string>particlePerShape</string>
	<key>referenceAboutBuffer</key>
	<string>presenterStyleContrast</string>
	<key>scaffoldAmongJob</key>
	<string>hashStateTension</string>
	<key>statefulChannelBottom</key>
	<string>tweenAgainstObserver</string>
	<key>widgetPatternBrightness</key>
	<string>denseObserverIndex</string>
</dict>
</plist>
