<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeBatchOrigin</key>
	<string>menuModeBorder</string>
	<key>materialManagerCoord</key>
	<string>extensionTypeFrequency</string>
	<key>normalCompletionShape</key>
	<string>samplePerChain</string>
	<key>routerVarSkewx</key>
	<string>composableRectInterval</string>
	<key>skinProxyDirection</key>
	<string>cubitModeFormat</string>
	<key>textfieldLikeMemento</key>
	<string>indicatorMethodDepth</string>
	<key>transitionAsBridge</key>
	<string>exponentValueOrientation</string>
</dict>
</plist>
