<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleWidgetBehavior</key>
	<string>alphaParameterRight</string>
	<key>allocatorEnvironmentMomentum</key>
	<string>subscriptionBufferOffset</string>
	<key>originalBitrateTint</key>
	<string>descriptorPhaseInteraction</string>
	<key>positionProxyFrequency</key>
	<string>factoryLikeJob</string>
	<key>promiseAtOperation</key>
	<string>parallelIsolateTheme</string>
	<key>titleFrameworkSize</key>
	<string>unactivatedGrainPressure</string>
</dict>
</plist>
