<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cyclePlatformSkewx</key>
	<string>ignoredInjectionSkewy</string>
	<key>specifyStateVelocity</key>
	<string>sliderThroughTier</string>
	<key>subscriptionIncludeCycle</key>
	<string>intermediateStoryboardHead</string>
	<key>swiftInsideTemple</key>
	<string>agileOperationCenter</string>
</dict>
</plist>
