<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDecorationPadding</key>
	<string>gateAmongValue</string>
	<key>constSliderSize</key>
	<string>cubitWithShape</string>
	<key>cursorPhaseForce</key>
	<string>tweenVarTop</string>
	<key>equipmentInsideStage</key>
	<string>directTimerFlags</string>
	<key>independentSpineIndex</key>
	<string>subsequentSliderSkewx</string>
	<key>nibFacadeLeft</key>
	<string>rowPrototypeFormat</string>
	<key>sensorWithAction</key>
	<string>commandOutsideParam</string>
</dict>
</plist>
