<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisChainDirection</key>
	<string>graphByPrototype</string>
	<key>consumerFunctionAlignment</key>
	<string>flexibleBaselineDistance</string>
	<key>consumerModeBound</key>
	<string>viewThanMemento</string>
	<key>cupertinoTransformerScale</key>
	<string>chartBeyondProxy</string>
	<key>equipmentAsMediator</key>
	<string>hashInterpreterDistance</string>
	<key>groupOfStrategy</key>
	<string>routeAsWork</string>
	<key>tickerOfForm</key>
	<string>enabledSingletonTheme</string>
</dict>
</plist>
