<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSessionVisibility</key>
	<string>requiredTaskDuration</string>
	<key>gesturedetectorThanStage</key>
	<string>customizedDecorationInset</string>
	<key>imageFormOrientation</key>
	<string>compositionInsideCycle</string>
	<key>navigatorFromNumber</key>
	<string>observerOfLevel</string>
	<key>resizableStepHue</key>
	<string>multiRouteAppearance</string>
	<key>unactivatedCanvasStatus</key>
	<string>spriteUntilState</string>
</dict>
</plist>
