<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constBlocIndex</key>
	<string>groupWithChain</string>
	<key>containerAsVisitor</key>
	<string>displayablePetPressure</string>
	<key>layerActivityFrequency</key>
	<string>previewStageSpeed</string>
	<key>marginLikeFunction</key>
	<string>transitionWithoutTask</string>
	<key>protectedUsageBrightness</key>
	<string>curveAboutTask</string>
	<key>queuePerObserver</key>
	<string>usecaseBesideMethod</string>
	<key>storageStageVisible</key>
	<string>crucialCommandContrast</string>
	<key>vectorFunctionCount</key>
	<string>tabviewPlatformVelocity</string>
	<key>widgetOfCycle</key>
	<string>managerPrototypeType</string>
</dict>
</plist>
