<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDelegateSpeed</key>
	<string>cosineKindTail</string>
	<key>behaviorAndKind</key>
	<string>publicCycleBorder</string>
	<key>immutableScreenTop</key>
	<string>topicParamSkewx</string>
	<key>permanentIsolateFrequency</key>
	<string>screenKindFormat</string>
	<key>reusableRadiusOpacity</key>
	<string>inheritedTransitionInset</string>
	<key>sceneEnvironmentBound</key>
	<string>substantialGestureState</string>
	<key>tappableTopicSpeed</key>
	<string>widgetBesideVisitor</string>
</dict>
</plist>
