<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerEqualizationInterval</key>
	<string>webMediaqueryForce</string>
	<key>concurrentConvolutionShade</key>
	<string>unactivatedMissionRight</string>
	<key>discardedBuilderAlignment</key>
	<string>uniformServiceOffset</string>
	<key>granularCanvasAppearance</key>
	<string>asyncOperationLocation</string>
	<key>hashMethodSpacing</key>
	<string>graphLayerPosition</string>
	<key>mobileRepositoryRight</key>
	<string>routerIncludeTier</string>
</dict>
</plist>
