<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTempleOpacity</key>
	<string>coordinatorAwayKind</string>
	<key>capacitiesDespiteMediator</key>
	<string>deferredMobileVelocity</string>
	<key>cartesianRepositoryRotation</key>
	<string>spriteContainMode</string>
	<key>customizedDependencyForce</key>
	<string>streamThroughBridge</string>
	<key>injectionSinceParameter</key>
	<string>euclideanProviderTension</string>
	<key>paddingAboutPlatform</key>
	<string>delicateStoreTransparency</string>
	<key>pageviewParamShade</key>
	<string>boxAdapterBehavior</string>
	<key>projectAsLevel</key>
	<string>slashDespiteJob</string>
	<key>statefulTickerDirection</key>
	<string>profileVersusScope</string>
</dict>
</plist>
