<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAsKind</key>
	<string>crucialNavigatorRotation</string>
	<key>opaqueChannelName</key>
	<string>mediumStampSkewy</string>
	<key>previewShapeRotation</key>
	<string>relationalServiceVisible</string>
	<key>resilientGrainSize</key>
	<string>delegateVarRotation</string>
	<key>resourceLevelInset</key>
	<string>brushAwayProxy</string>
</dict>
</plist>
