<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationParameterFeedback</key>
	<string>prismaticLocalizationRight</string>
	<key>descriptionContainBuffer</key>
	<string>lostSizeVisible</string>
	<key>hierarchicalNavigatorDistance</key>
	<string>containerLikeVisitor</string>
	<key>multiplicationBeyondKind</key>
	<string>arithmeticIntensityTransparency</string>
	<key>petPlatformIndex</key>
	<string>projectOrFlyweight</string>
</dict>
</plist>
