<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNearLevel</key>
	<string>concurrentCommandBehavior</string>
	<key>aspectratioAwayPhase</key>
	<string>materialStateState</string>
	<key>futureInsideStructure</key>
	<string>synchronousCoordinatorState</string>
	<key>sliderExceptValue</key>
	<string>gridPhaseForce</string>
	<key>titleInContext</key>
	<string>permissiveRadioRate</string>
</dict>
</plist>
