<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFormMode</key>
	<string>customTopicOrigin</string>
	<key>heroNumberVisible</key>
	<string>viewThroughFacade</string>
	<key>interactorActivityContrast</key>
	<string>channelInMode</string>
	<key>navigatorBufferForce</key>
	<string>extensionAboutInterpreter</string>
</dict>
</plist>
