<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDependencyStatus</key>
	<string>threadPlatformOffset</string>
	<key>immediateProjectionIndex</key>
	<string>navigatorStructureBorder</string>
	<key>imperativeChannelMomentum</key>
	<string>playbackVersusPhase</string>
	<key>singletonPatternScale</key>
	<string>durationMementoScale</string>
</dict>
</plist>
