<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectUntilAction</key>
	<string>commandJobColor</string>
	<key>channelVisitorKind</key>
	<string>resilientActionFrequency</string>
	<key>decorationPrototypeFlags</key>
	<string>localSpineOpacity</string>
	<key>frameStyleOffset</key>
	<string>playbackNearLevel</string>
	<key>missedServiceRotation</key>
	<string>subpixelDecoratorInterval</string>
	<key>radiusFrameworkName</key>
	<string>logarithmWorkTint</string>
	<key>rapidTimerSaturation</key>
	<string>statePerScope</string>
	<key>semanticTimerDelay</key>
	<string>nodeContainAdapter</string>
</dict>
</plist>
