<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedQueryTail</key>
	<string>themeAwayMediator</string>
	<key>axisParamTail</key>
	<string>layoutAndCycle</string>
	<key>brushAlongDecorator</key>
	<string>denseActivityInteraction</string>
	<key>grainAmongPlatform</key>
	<string>catalystLevelSpeed</string>
	<key>metadataFromParam</key>
	<string>tangentVisitorStyle</string>
	<key>presenterStructureFeedback</key>
	<string>cartesianTweenFrequency</string>
	<key>protectedViewBehavior</key>
	<string>iterativeModalAppearance</string>
	<key>usagePhaseAcceleration</key>
	<string>positionSinceVar</string>
	<key>vectorAmongVariable</key>
	<string>multiplicationStylePosition</string>
</dict>
</plist>
