<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentAndLayer</key>
	<string>compositionalCaptionRight</string>
	<key>presenterBesideMethod</key>
	<string>topicAndBridge</string>
	<key>queryCycleRate</key>
	<string>profileVarVisibility</string>
	<key>skinWithVisitor</key>
	<string>navigationStructureSaturation</string>
</dict>
</plist>
