<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandByPattern</key>
	<string>buttonAndLayer</string>
	<key>composableVariantTheme</key>
	<string>mobileGateOpacity</string>
	<key>coordinatorOperationRotation</key>
	<string>sharedZoneTail</string>
	<key>ignoredPetLocation</key>
	<string>mediaqueryByPattern</string>
	<key>repositorySystemLeft</key>
	<string>reactiveNibForce</string>
	<key>requiredTablePressure</key>
	<string>missedAspectKind</string>
	<key>scaffoldInterpreterForce</key>
	<string>positionedAdapterInteraction</string>
	<key>screenVersusJob</key>
	<string>rowSingletonStyle</string>
	<key>singletonForInterpreter</key>
	<string>desktopPresenterIndex</string>
	<key>streamActionType</key>
	<string>localRadiusSkewy</string>
</dict>
</plist>
