<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongAdapter</key>
	<string>delegateActivityRate</string>
	<key>desktopQueryBehavior</key>
	<string>layoutIncludeForm</string>
	<key>effectDuringVar</key>
	<string>adaptiveActionSaturation</string>
	<key>effectPatternTop</key>
	<string>marginParamShade</string>
	<key>graphVersusPattern</key>
	<string>serviceVarOrientation</string>
	<key>navigationFromAction</key>
	<string>layoutStyleTransparency</string>
	<key>popupInContext</key>
	<string>riverpodWorkStyle</string>
	<key>textureUntilBridge</key>
	<string>capsuleEnvironmentVisible</string>
	<key>unsortedVectorInterval</key>
	<string>easyRequestFrequency</string>
</dict>
</plist>
