<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryShapeSkewx</key>
	<string>nodeAboutMediator</string>
	<key>dialogsAroundState</key>
	<string>groupInterpreterVelocity</string>
	<key>standaloneResultSaturation</key>
	<string>descriptionAboutSystem</string>
	<key>subsequentSemanticsOrientation</key>
	<string>pivotalGesturedetectorShade</string>
</dict>
</plist>
