<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAmongWork</key>
	<string>configurationOperationKind</string>
	<key>completionNumberContrast</key>
	<string>projectionMementoShape</string>
	<key>cubitFromProcess</key>
	<string>draggableTableBrightness</string>
	<key>dynamicAccessoryBrightness</key>
	<string>histogramLikeComposite</string>
	<key>gestureAboutShape</key>
	<string>handlerAboutJob</string>
	<key>scrollPrototypeForce</key>
	<string>queryOperationOrigin</string>
	<key>smartGroupBound</key>
	<string>tangentAtState</string>
	<key>tabbarBufferTag</key>
	<string>curveTypeName</string>
	<key>textVersusState</key>
	<string>taskFlyweightTransparency</string>
	<key>webVectorLeft</key>
	<string>sustainableSizedboxRight</string>
</dict>
</plist>
