<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorAmongMediator</key>
	<string>previewInsideAdapter</string>
	<key>mobileChainOpacity</key>
	<string>sliderAlongKind</string>
	<key>paddingSingletonInterval</key>
	<string>similarTransformerTension</string>
	<key>tabbarExceptVar</key>
	<string>sceneWithEnvironment</string>
</dict>
</plist>
