<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchVisitorInteraction</key>
	<string>symbolPatternSpeed</string>
	<key>captionOfAction</key>
	<string>mediumTopicShade</string>
	<key>storyboardSinceKind</key>
	<string>concreteChallengeFrequency</string>
	<key>textfieldDecoratorName</key>
	<string>lazyTabviewShade</string>
</dict>
</plist>
