<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAsyncOrientation</key>
	<string>titleInsideTier</string>
	<key>effectForMode</key>
	<string>stateNearParameter</string>
	<key>futureOperationStatus</key>
	<string>currentHashScale</string>
	<key>labelParamRotation</key>
	<string>errorBesideJob</string>
	<key>particleSystemSpacing</key>
	<string>chapterOutsideWork</string>
	<key>queueStyleFrequency</key>
	<string>storageValueHead</string>
	<key>subsequentActivitySize</key>
	<string>uniqueConfigurationTension</string>
	<key>usageContextTension</key>
	<string>permissiveFrameMomentum</string>
</dict>
</plist>
