<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAmongShape</key>
	<string>storageCompositeTheme</string>
	<key>fusedErrorVisible</key>
	<string>logarithmExceptKind</string>
	<key>taskExceptFramework</key>
	<string>discardedOffsetDistance</string>
</dict>
</plist>
