<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSizeScale</key>
	<string>taskAboutContext</string>
	<key>characterSingletonShade</key>
	<string>animatedExpandedRotation</string>
	<key>futureChainBorder</key>
	<string>binaryParameterDistance</string>
	<key>publicAwaitFormat</key>
	<string>visibleNotifierTail</string>
	<key>reactiveMenuIndex</key>
	<string>segueOfProxy</string>
	<key>resultFormInset</key>
	<string>transformerContainMode</string>
	<key>topicNearTask</key>
	<string>cellByFacade</string>
</dict>
</plist>
