<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitSingletonRate</key>
	<string>eagerCacheHead</string>
	<key>exponentAmongState</key>
	<string>textureValueTag</string>
	<key>heapBesideSingleton</key>
	<string>curveTypeRight</string>
	<key>mobileSwitchHead</key>
	<string>gateVersusVisitor</string>
	<key>permissiveFeatureInteraction</key>
	<string>nibActivityDuration</string>
	<key>sinkInAction</key>
	<string>retainedArithmeticTension</string>
	<key>sizedboxCompositeCount</key>
	<string>integerOfStage</string>
	<key>sliderModeSkewx</key>
	<string>basicSliderType</string>
	<key>smallAlertPressure</key>
	<string>dimensionContextType</string>
</dict>
</plist>
