<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMediaDensity</key>
	<string>durationPerState</string>
	<key>delegateFacadeSpeed</key>
	<string>popupDuringEnvironment</string>
	<key>eventAmongKind</key>
	<string>signatureBufferTag</string>
	<key>statefulScopeSkewx</key>
	<string>apertureCommandSize</string>
	<key>storeCycleSkewx</key>
	<string>usageWithLevel</string>
	<key>synchronousMatrixTag</key>
	<string>modelVarAcceleration</string>
</dict>
</plist>
