<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCursorValidation</key>
	<string>mediumRadioTheme</string>
	<key>constraintInsideType</key>
	<string>reducerForBuffer</string>
	<key>progressbarAndAction</key>
	<string>progressbarVarTransparency</string>
</dict>
</plist>
