<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStyleLocation</key>
	<string>baselineWithoutAction</string>
	<key>robustSegmentResponse</key>
	<string>inheritedWidgetContrast</string>
	<key>seamlessResourceStatus</key>
	<string>activatedChannelsAppearance</string>
	<key>transitionTaskTheme</key>
	<string>tappableCupertinoValidation</string>
</dict>
</plist>
