<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientAsCycle</key>
	<string>comprehensiveInteractorHead</string>
	<key>mobileWidgetAcceleration</key>
	<string>largeCoordinatorPadding</string>
	<key>previewCycleOpacity</key>
	<string>cardStateTag</string>
	<key>specifierOutsideJob</key>
	<string>priorCollectionKind</string>
</dict>
</plist>
