<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSystemCenter</key>
	<string>storeSinceSystem</string>
	<key>dialogsAroundKind</key>
	<string>smartGridBottom</string>
	<key>discardedExceptionSkewy</key>
	<string>offsetAroundNumber</string>
	<key>pivotalSpriteFrequency</key>
	<string>dropdownbuttonNumberRotation</string>
</dict>
</plist>
