<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSceneHead</key>
	<string>opaqueSingletonDensity</string>
	<key>modelAgainstProxy</key>
	<string>offsetActionAlignment</string>
	<key>pivotalLogarithmPressure</key>
	<string>tappableModulusMargin</string>
	<key>skinByContext</key>
	<string>currentLabelRight</string>
	<key>spotByStage</key>
	<string>taskLikeMediator</string>
	<key>tweenContextTheme</key>
	<string>managerMediatorCount</string>
</dict>
</plist>
