<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorSingletonTheme</key>
	<string>managerTempleState</string>
	<key>factoryInChain</key>
	<string>originalCycleName</string>
	<key>ignoredIsolateDistance</key>
	<string>robustTabviewFlags</string>
	<key>streamDuringStyle</key>
	<string>greatThemeOrientation</string>
	<key>sustainableStreamInset</key>
	<string>autoPageviewTop</string>
	<key>topicInFunction</key>
	<string>chartModeDistance</string>
</dict>
</plist>
