<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAspectShade</key>
	<string>unaryShapeFormat</string>
	<key>canvasAwayObserver</key>
	<string>accessibleCertificateDirection</string>
	<key>capsuleDespiteTask</key>
	<string>intensityIncludeDecorator</string>
	<key>fragmentStyleBrightness</key>
	<string>activityThanPhase</string>
	<key>presenterUntilBridge</key>
	<string>effectSingletonScale</string>
	<key>progressbarThanBuffer</key>
	<string>painterTempleKind</string>
	<key>typicalCubitStyle</key>
	<string>resourceDuringShape</string>
</dict>
</plist>
