<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateLevelRate</key>
	<string>intermediateSwiftBehavior</string>
	<key>euclideanConstraintEdge</key>
	<string>reducerAtContext</string>
	<key>futureDespitePrototype</key>
	<string>resizableAnimationLocation</string>
	<key>geometricSinkInset</key>
	<string>ignoredSymbolVisible</string>
	<key>layoutNearScope</key>
	<string>axisKindAlignment</string>
	<key>rapidLayoutType</key>
	<string>equipmentContextAppearance</string>
	<key>roleBesideState</key>
	<string>chartThroughEnvironment</string>
</dict>
</plist>
