<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryJobRight</key>
	<string>aspectratioAboutKind</string>
	<key>compositionalFutureCoord</key>
	<string>unactivatedGemMode</string>
	<key>custompaintForInterpreter</key>
	<string>particleAtTemple</string>
	<key>dependencyMediatorCount</key>
	<string>arithmeticJobAppearance</string>
	<key>disabledSkinSaturation</key>
	<string>matrixStageValidation</string>
	<key>mobxAlongMemento</key>
	<string>graphicInsideLevel</string>
	<key>presenterCompositeSkewy</key>
	<string>localProfileCoord</string>
	<key>rapidRiverpodFeedback</key>
	<string>hardMediaBehavior</string>
	<key>reactiveMobileTag</key>
	<string>methodOutsideVariable</string>
	<key>smallCharacterMomentum</key>
	<string>accessoryAlongLevel</string>
</dict>
</plist>
