<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorModeCenter</key>
	<string>deferredSemanticsRotation</string>
	<key>directlyGesturedetectorBrightness</key>
	<string>permanentCustompaintDelay</string>
	<key>easyCapsuleKind</key>
	<string>denseAxisAcceleration</string>
	<key>logAroundSystem</key>
	<string>inactiveStreamHead</string>
	<key>observerExceptVariable</key>
	<string>protectedRouteShape</string>
	<key>stepInSystem</key>
	<string>usageOrSystem</string>
	<key>swiftStrategyInteraction</key>
	<string>bitrateShapeFlags</string>
	<key>temporaryFragmentContrast</key>
	<string>customMobilePressure</string>
	<key>zoneCommandRight</key>
	<string>arithmeticCompositionSpacing</string>
</dict>
</plist>
