<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeUntilStage</key>
	<string>extensionMethodTransparency</string>
	<key>dropdownbuttonBridgeBorder</key>
	<string>temporaryProviderTension</string>
	<key>flexibleRadiusTension</key>
	<string>invisibleMethodShade</string>
	<key>graphPerKind</key>
	<string>anchorUntilState</string>
	<key>handlerContextDuration</key>
	<string>descriptorModeSkewx</string>
	<key>nibThanPhase</key>
	<string>tangentLikeMediator</string>
	<key>pinchableRouteStyle</key>
	<string>futureModeSize</string>
	<key>responseEnvironmentShade</key>
	<string>prismaticStampResponse</string>
	<key>riverpodStateRotation</key>
	<string>pivotalExceptionAppearance</string>
	<key>sustainableListenerInterval</key>
	<string>associatedButtonVisibility</string>
</dict>
</plist>
