<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedStoreOrientation</key>
	<string>elasticTangentDirection</string>
	<key>buttonOutsideVar</key>
	<string>smallFragmentHead</string>
	<key>disabledOperationOrientation</key>
	<string>injectionCompositeMargin</string>
	<key>injectionMethodRight</key>
	<string>eagerRadiusRight</string>
	<key>promiseSinceAction</key>
	<string>delicateFrameResponse</string>
	<key>resourceAboutBridge</key>
	<string>globalUnarySpacing</string>
	<key>skinInterpreterIndex</key>
	<string>painterAroundMode</string>
</dict>
</plist>
