<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRepositoryKind</key>
	<string>permissiveBaselineLocation</string>
	<key>beginnerTweenMomentum</key>
	<string>projectThanState</string>
	<key>channelLikeKind</key>
	<string>rowTierCoord</string>
	<key>geometricResponseTheme</key>
	<string>methodProxyAppearance</string>
	<key>hyperbolicMusicCenter</key>
	<string>futurePatternBrightness</string>
	<key>injectionUntilScope</key>
	<string>bitrateCommandOpacity</string>
	<key>repositorySystemDirection</key>
	<string>heroThanAdapter</string>
	<key>sharedTabviewSkewy</key>
	<string>aspectPatternVelocity</string>
	<key>sinkStrategyMode</key>
	<string>captionUntilMethod</string>
	<key>subscriptionLevelInset</key>
	<string>respectiveChapterSpeed</string>
</dict>
</plist>
