<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMatrixBehavior</key>
	<string>cubePrototypeShade</string>
	<key>assetForSingleton</key>
	<string>customTransitionResponse</string>
	<key>coordinatorBesideProxy</key>
	<string>routePlatformBrightness</string>
	<key>effectAboutInterpreter</key>
	<string>durationChainSpacing</string>
	<key>groupFormName</key>
	<string>blocAtProcess</string>
	<key>navigatorWithoutPlatform</key>
	<string>coordinatorProxyOrigin</string>
	<key>serviceInVar</key>
	<string>standaloneQueryFlags</string>
	<key>subscriptionExceptPhase</key>
	<string>listenerTaskFormat</string>
	<key>tickerDuringEnvironment</key>
	<string>sceneTierVelocity</string>
</dict>
</plist>
