<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGrayscaleFormat</key>
	<string>callbackInterpreterScale</string>
	<key>captionWithoutAction</key>
	<string>agileCoordinatorHue</string>
	<key>cosineShapeRate</key>
	<string>statelessViaScope</string>
	<key>multiSegmentAppearance</key>
	<string>paddingFlyweightSize</string>
	<key>profilePlatformTag</key>
	<string>interpolationAlongType</string>
	<key>resizableZonePosition</key>
	<string>swiftKindInterval</string>
	<key>taskIncludeForm</key>
	<string>crucialUtilDelay</string>
</dict>
</plist>
