<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithObserver</key>
	<string>collectionOrWork</string>
	<key>labelLikeLevel</key>
	<string>animatedcontainerSincePlatform</string>
	<key>menuDespiteCommand</key>
	<string>rowLayerKind</string>
	<key>sliderBesideFunction</key>
	<string>observerAndMemento</string>
	<key>transformerScopeShade</key>
	<string>widgetLevelShade</string>
</dict>
</plist>
