<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelKindInteraction</key>
	<string>alphaNearProcess</string>
	<key>normalTechniqueFormat</key>
	<string>certificateExceptPhase</string>
	<key>resourceLevelCoord</key>
	<string>positionedActionName</string>
	<key>viewBridgeOpacity</key>
	<string>cosineActivityTransparency</string>
</dict>
</plist>
