<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDependencyTransparency</key>
	<string>builderFromProcess</string>
	<key>descriptionInCommand</key>
	<string>nibFacadeSpacing</string>
	<key>desktopStatefulLocation</key>
	<string>independentMarginOrientation</string>
	<key>durationObserverInterval</key>
	<string>singleStateRate</string>
	<key>missionLayerOrigin</key>
	<string>stateBridgeStyle</string>
	<key>retainedDescriptionSkewx</key>
	<string>inkwellSingletonHue</string>
	<key>robustWidgetDuration</key>
	<string>concurrentLoopBehavior</string>
</dict>
</plist>
