<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelOutsideNumber</key>
	<string>checklistMementoOrientation</string>
	<key>cubeDecoratorPosition</key>
	<string>operationIncludeWork</string>
	<key>flexFormSpacing</key>
	<string>missedBulletStyle</string>
	<key>globalDescriptionTransparency</key>
	<string>criticalTweenSpeed</string>
	<key>menuDuringShape</key>
	<string>transformerForCycle</string>
	<key>pageviewModeBottom</key>
	<string>asyncEnvironmentSpeed</string>
	<key>singletonThroughKind</key>
	<string>finalStateAppearance</string>
</dict>
</plist>
