<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCompositionAppearance</key>
	<string>borderStageType</string>
	<key>captionContainParam</key>
	<string>modulusWithoutDecorator</string>
	<key>clipperOperationBorder</key>
	<string>displayableCustompaintRight</string>
	<key>cubitTierTail</key>
	<string>promisePerObserver</string>
	<key>descriptorCycleTop</key>
	<string>radiusFormEdge</string>
	<key>layoutBesideTask</key>
	<string>storageIncludeBridge</string>
	<key>menuOfSystem</key>
	<string>textDuringPattern</string>
	<key>responseExceptFlyweight</key>
	<string>customViewBehavior</string>
	<key>reusableCycleForce</key>
	<string>spotCycleCount</string>
	<key>semanticOptimizerStatus</key>
	<string>bufferUntilPlatform</string>
</dict>
</plist>
