<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandNumberCoord</key>
	<string>numericalDocumentOpacity</string>
	<key>newestGraphCoord</key>
	<string>allocatorVersusPattern</string>
	<key>normBesideValue</key>
	<string>difficultPreviewCenter</string>
	<key>resolverAtParam</key>
	<string>seamlessAnimationVisible</string>
	<key>sophisticatedBlocBottom</key>
	<string>gestureLayerRight</string>
	<key>substantialDurationIndex</key>
	<string>playbackObserverRate</string>
	<key>uniqueSemanticsTop</key>
	<string>utilInterpreterFeedback</string>
</dict>
</plist>
