<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPlatformForce</key>
	<string>providerTierType</string>
	<key>curveAgainstMethod</key>
	<string>backwardStreamTop</string>
	<key>immutablePlaybackInterval</key>
	<string>slashFromFacade</string>
	<key>invisibleCubitAcceleration</key>
	<string>significantDurationVisibility</string>
	<key>mediumTernaryIndex</key>
	<string>mobileOfFunction</string>
	<key>resolverFacadeRotation</key>
	<string>lostPaddingTint</string>
</dict>
</plist>
