<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalIntegerDirection</key>
	<string>isolateUntilForm</string>
	<key>elasticStoreTag</key>
	<string>offsetViaTask</string>
	<key>fusedRadiusBorder</key>
	<string>delegateObserverLeft</string>
	<key>movementVisitorDuration</key>
	<string>explicitManagerName</string>
	<key>sessionMethodMode</key>
	<string>independentAssetDepth</string>
	<key>workflowFunctionMargin</key>
	<string>animationPlatformIndex</string>
</dict>
</plist>
