<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesValueKind</key>
	<string>immediateAspectratioLocation</string>
	<key>cartesianAllocatorOrientation</key>
	<string>bufferFlyweightMargin</string>
	<key>commandModeVelocity</key>
	<string>factoryMethodCenter</string>
	<key>descriptorAgainstObserver</key>
	<string>imagePatternCount</string>
	<key>lazyCardColor</key>
	<string>boxPhaseMargin</string>
	<key>repositoryOutsideStyle</key>
	<string>textfieldForOperation</string>
	<key>smartSubpixelOrigin</key>
	<string>graphDespitePrototype</string>
	<key>sortedAnimationDirection</key>
	<string>scaffoldParameterCenter</string>
	<key>variantBesideTemple</key>
	<string>normFrameworkVisibility</string>
</dict>
</plist>
