<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationProcessColor</key>
	<string>cursorDecoratorOpacity</string>
	<key>concurrentSpriteOrientation</key>
	<string>rowBeyondInterpreter</string>
	<key>containerSinceWork</key>
	<string>scaleFormAcceleration</string>
	<key>liteGraphicEdge</key>
	<string>behaviorKindKind</string>
	<key>multiPositionedColor</key>
	<string>inactiveRowName</string>
	<key>tappableAlertColor</key>
	<string>overlayMethodInteraction</string>
</dict>
</plist>
