<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectNearContext</key>
	<string>durationKindIndex</string>
	<key>independentRequestBound</key>
	<string>constraintVariableStatus</string>
	<key>precisionAboutVar</key>
	<string>actionInForm</string>
	<key>prevBlocTop</key>
	<string>allocatorMethodState</string>
	<key>requestThanStyle</key>
	<string>imperativeWidgetFormat</string>
	<key>sampleAdapterOffset</key>
	<string>errorDuringParameter</string>
	<key>seamlessPreviewBrightness</key>
	<string>handlerDespiteStage</string>
	<key>smartPopupRotation</key>
	<string>sineBesideInterpreter</string>
	<key>stackIncludeFacade</key>
	<string>immediateGestureInteraction</string>
	<key>textObserverContrast</key>
	<string>ignoredFactoryPosition</string>
</dict>
</plist>
