<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAroundJob</key>
	<string>fusedStateVisibility</string>
	<key>compositionAroundPhase</key>
	<string>otherTaskDepth</string>
	<key>factoryTypeFeedback</key>
	<string>toolWithTier</string>
	<key>iconScopeHead</key>
	<string>missionAtKind</string>
	<key>mutableRadiusInset</key>
	<string>cubeMementoInset</string>
	<key>promiseProxyOrigin</key>
	<string>materialResolverCount</string>
	<key>repositoryThanMemento</key>
	<string>widgetViaFlyweight</string>
	<key>subsequentUsageMode</key>
	<string>touchLayerTail</string>
	<key>techniqueLevelScale</key>
	<string>diversifiedAnimatedcontainerDelay</string>
</dict>
</plist>
