<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterSinceMemento</key>
	<string>rowScopeLocation</string>
	<key>exponentSinceInterpreter</key>
	<string>gridAndPrototype</string>
	<key>flexibleSingletonStyle</key>
	<string>independentWidgetRight</string>
	<key>kernelOutsideEnvironment</key>
	<string>smartTitleAcceleration</string>
	<key>mediocreTransitionAppearance</key>
	<string>appbarSinceShape</string>
	<key>metadataAwayStrategy</key>
	<string>pivotalCubitTransparency</string>
	<key>offsetCompositeDepth</key>
	<string>pageviewAboutTemple</string>
	<key>primaryAlignmentKind</key>
	<string>skinStructureDensity</string>
	<key>resilientProgressbarCount</key>
	<string>touchAmongPattern</string>
	<key>roleAsProcess</key>
	<string>crucialGestureColor</string>
</dict>
</plist>
