<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectWithValue</key>
	<string>memberAwaySystem</string>
	<key>dynamicResourceDuration</key>
	<string>plateStyleTransparency</string>
	<key>eventAgainstShape</key>
	<string>completerStateOpacity</string>
</dict>
</plist>
