<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandForStyle</key>
	<string>firstTaskOrientation</string>
	<key>consultativeLoopAlignment</key>
	<string>particleExceptProxy</string>
	<key>cubitAsBridge</key>
	<string>sampleInsidePrototype</string>
	<key>equipmentCommandDensity</key>
	<string>checklistAdapterBorder</string>
	<key>hierarchicalTopicOffset</key>
	<string>tangentPlatformFlags</string>
	<key>modelAndMode</key>
	<string>keyTickerDensity</string>
	<key>modelChainTag</key>
	<string>mediumAssetDepth</string>
	<key>scrollSystemDensity</key>
	<string>alignmentWithoutMethod</string>
	<key>storageAndEnvironment</key>
	<string>descriptionCycleDuration</string>
</dict>
</plist>
