<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandWithStructure</key>
	<string>vectorAsValue</string>
	<key>fixedSinkLocation</key>
	<string>discardedModelContrast</string>
	<key>multiplicationFlyweightVelocity</key>
	<string>usecaseSystemSkewx</string>
	<key>numericalGroupHue</key>
	<string>scrollableSegmentBound</string>
	<key>petOfPlatform</key>
	<string>largeSizeDelay</string>
	<key>prismaticStoreTheme</key>
	<string>semanticsInterpreterInterval</string>
	<key>sortedLayerVelocity</key>
	<string>significantUsageInteraction</string>
	<key>synchronousPopupFormat</key>
	<string>resizableStatefulSkewx</string>
</dict>
</plist>
