<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionSystemInset</key>
	<string>timerMementoFeedback</string>
	<key>eagerAwaitDuration</key>
	<string>inkwellSingletonFeedback</string>
	<key>exceptionSinceFlyweight</key>
	<string>dedicatedDecorationInterval</string>
	<key>queryLevelMargin</key>
	<string>isolateMediatorVisibility</string>
	<key>rectTaskVisible</key>
	<string>providerAgainstSingleton</string>
	<key>semanticStatelessMode</key>
	<string>stateTierStatus</string>
	<key>sinkBufferInteraction</key>
	<string>referenceValueShape</string>
	<key>stateAsFramework</key>
	<string>curveWithKind</string>
	<key>storagePrototypeInteraction</key>
	<string>tickerStyleTop</string>
	<key>themeMethodShape</key>
	<string>prevInterfaceEdge</string>
</dict>
</plist>
