<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAwayParameter</key>
	<string>threadValueDensity</string>
	<key>pinchableBaselineFeedback</key>
	<string>textParameterName</string>
	<key>stampDecoratorEdge</key>
	<string>tableContainStyle</string>
</dict>
</plist>
