<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCardEdge</key>
	<string>particleFlyweightType</string>
	<key>commonProviderTheme</key>
	<string>otherViewCoord</string>
	<key>consultativeBuilderSaturation</key>
	<string>entityFromTask</string>
	<key>discardedDimensionFlags</key>
	<string>radiusOrShape</string>
	<key>entityAndVar</key>
	<string>methodNearPattern</string>
	<key>fusedCoordinatorTag</key>
	<string>standaloneTaskMode</string>
	<key>gateFunctionDelay</key>
	<string>errorInterpreterBottom</string>
	<key>pivotalAnchorAlignment</key>
	<string>actionInsidePlatform</string>
	<key>semanticsDuringSystem</key>
	<string>interactorDecoratorOrigin</string>
</dict>
</plist>
