<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsKindCenter</key>
	<string>concreteCursorSkewx</string>
	<key>labelOfPhase</key>
	<string>accessoryKindVisibility</string>
	<key>loopObserverFormat</key>
	<string>imagePrototypeDirection</string>
	<key>notificationExceptJob</key>
	<string>transformerVersusCycle</string>
	<key>smallMobxMode</key>
	<string>nibViaStage</string>
	<key>subpixelUntilShape</key>
	<string>mediaqueryOperationBottom</string>
</dict>
</plist>
