<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxThroughCommand</key>
	<string>radiusPhaseHead</string>
	<key>composableChartBorder</key>
	<string>asyncVisitorDepth</string>
	<key>equipmentInsideActivity</key>
	<string>delegateDecoratorSkewx</string>
	<key>geometricLayoutStyle</key>
	<string>compositionalCompleterBrightness</string>
	<key>interpolationCommandMargin</key>
	<string>sineWithScope</string>
	<key>layerFormStyle</key>
	<string>ignoredErrorScale</string>
	<key>mediaBeyondAction</key>
	<string>resizableBlocLeft</string>
	<key>popupAndContext</key>
	<string>scrollOrObserver</string>
	<key>resilientMasterTheme</key>
	<string>tangentIncludeActivity</string>
</dict>
</plist>
