<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleHandlerFlags</key>
	<string>assetFromTemple</string>
	<key>consultativeAwaitScale</key>
	<string>marginSinceComposite</string>
	<key>cubitContextTint</key>
	<string>inheritedUsageSpacing</string>
	<key>expandedAmongProxy</key>
	<string>actionOutsidePattern</string>
	<key>granularRichtextShade</key>
	<string>requiredBulletTension</string>
	<key>oldRadioResponse</key>
	<string>modelTaskLocation</string>
	<key>positionFormBottom</key>
	<string>memberActivityHead</string>
	<key>serviceWithVariable</key>
	<string>fixedSingletonPadding</string>
	<key>textureByFunction</key>
	<string>themeAndStyle</string>
</dict>
</plist>
