<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedNormFlags</key>
	<string>convolutionInScope</string>
	<key>crudeEntityIndex</key>
	<string>tickerTaskRotation</string>
	<key>durationByShape</key>
	<string>lostInterfaceOffset</string>
	<key>layoutDuringStage</key>
	<string>alertLikeMode</string>
	<key>lostTouchDirection</key>
	<string>subscriptionFromLevel</string>
	<key>normDuringMemento</key>
	<string>binaryDespiteMethod</string>
	<key>streamUntilVariable</key>
	<string>inkwellSinceTask</string>
</dict>
</plist>
