<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnDespiteBridge</key>
	<string>channelAroundProcess</string>
	<key>compositionalBrushBehavior</key>
	<string>activePositionedFormat</string>
	<key>constraintDuringTier</key>
	<string>interfaceParameterValidation</string>
	<key>cubeStageBottom</key>
	<string>featureActivityBottom</string>
	<key>disabledLossRate</key>
	<string>awaitInsideContext</string>
	<key>normalPainterTint</key>
	<string>vectorKindSaturation</string>
	<key>positionedContainOperation</key>
	<string>numericalCheckboxSpeed</string>
	<key>tableExceptAction</key>
	<string>aspectPerFlyweight</string>
</dict>
</plist>
