<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainParamLocation</key>
	<string>memberByForm</string>
	<key>indicatorProcessAppearance</key>
	<string>decorationCompositeTint</string>
	<key>localizationThanTask</key>
	<string>custompaintForOperation</string>
	<key>overlayAsParameter</key>
	<string>blocJobPadding</string>
	<key>smartButtonOpacity</key>
	<string>handlerFrameworkVisible</string>
	<key>substantialInjectionTheme</key>
	<string>cubeMementoDepth</string>
	<key>ternaryActivitySpacing</key>
	<string>drawerVersusState</string>
</dict>
</plist>
