<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorKindTension</key>
	<string>logStyleSaturation</string>
	<key>batchVarDepth</key>
	<string>tensorGroupBehavior</string>
	<key>capsuleThanStrategy</key>
	<string>multiIntegerCount</string>
	<key>descriptorCyclePressure</key>
	<string>gemWorkValidation</string>
	<key>gridThroughStyle</key>
	<string>retainedAlertStatus</string>
	<key>lastTweenDuration</key>
	<string>finalNavigatorSpeed</string>
	<key>logInsidePhase</key>
	<string>adaptiveBitrateTheme</string>
	<key>mediumUtilMomentum</key>
	<string>primaryLayoutKind</string>
	<key>offsetChainRotation</key>
	<string>menuPerFramework</string>
	<key>playbackViaStrategy</key>
	<string>checkboxVisitorVelocity</string>
</dict>
</plist>
