<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>responseFacadeTop</key>
	<string>newestTernaryType</string>
	<key>subtleTaskDuration</key>
	<string>composableInkwellCount</string>
	<key>temporaryMemberVelocity</key>
	<string>uniqueOffsetVelocity</string>
</dict>
</plist>
