<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarTemplePadding</key>
	<string>effectAsOperation</string>
	<key>builderVarRate</key>
	<string>basicBaseIndex</string>
	<key>durationAsAction</key>
	<string>routerTypeFeedback</string>
	<key>featureOutsideAdapter</key>
	<string>axisBeyondNumber</string>
	<key>finalMarginTag</key>
	<string>reactiveCosineFeedback</string>
	<key>momentumParamTheme</key>
	<string>histogramAmongFramework</string>
	<key>typicalRadiusContrast</key>
	<string>checkboxPhaseTransparency</string>
</dict>
</plist>
