<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarTypeMomentum</key>
	<string>mediumListenerStyle</string>
	<key>layoutContextOrientation</key>
	<string>routerStageInset</string>
	<key>reducerInsideLevel</key>
	<string>labelCommandAcceleration</string>
	<key>streamTypeLocation</key>
	<string>localCompleterAppearance</string>
</dict>
</plist>
