<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateMethodHead</key>
	<string>decorationActionContrast</string>
	<key>currentGramBottom</key>
	<string>typicalStackSkewx</string>
	<key>directObserverInteraction</key>
	<string>constraintInsideBuffer</string>
	<key>immediateRadiusRotation</key>
	<string>radiusCompositeDirection</string>
	<key>inactiveInterfaceMargin</key>
	<string>pageviewWithoutJob</string>
	<key>nodeTaskDensity</key>
	<string>richtextLayerBorder</string>
	<key>subtleProviderAcceleration</key>
	<string>optimizerActionLocation</string>
</dict>
</plist>
