<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventTempleTransparency</key>
	<string>currentProfileSaturation</string>
	<key>globalCompleterFrequency</key>
	<string>sequentialMobxTension</string>
	<key>offsetContainContext</key>
	<string>multiQueryMomentum</string>
	<key>singleTimerAcceleration</key>
	<string>actionAroundKind</string>
	<key>usedFeatureInteraction</key>
	<string>movementSingletonBrightness</string>
</dict>
</plist>
