<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitChallengeOpacity</key>
	<string>significantEffectName</string>
	<key>fixedCurveOrientation</key>
	<string>listenerNearProxy</string>
	<key>repositoryStateBrightness</key>
	<string>oldDependencyOffset</string>
	<key>requiredPriorityVelocity</key>
	<string>injectionProxyKind</string>
	<key>routeBesideJob</key>
	<string>cartesianOffsetValidation</string>
	<key>smallAnimationTail</key>
	<string>scrollableScaffoldAppearance</string>
	<key>spotInsideState</key>
	<string>bitrateDecoratorRotation</string>
	<key>tappableBlocIndex</key>
	<string>entropyPatternIndex</string>
	<key>threadParameterEdge</key>
	<string>missionVarType</string>
</dict>
</plist>
