<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerOptionPosition</key>
	<string>opaqueMemberContrast</string>
	<key>explicitNormDelay</key>
	<string>ternaryParameterTag</string>
	<key>gateFromBuffer</key>
	<string>presenterSinceVar</string>
	<key>liteCommandTheme</key>
	<string>movementDuringVisitor</string>
	<key>mutableSinkTag</key>
	<string>taskForMemento</string>
	<key>requiredQueryFlags</key>
	<string>profileOfStrategy</string>
	<key>scaffoldActionName</key>
	<string>specifyDurationRight</string>
	<key>sensorOrLevel</key>
	<string>interfaceAsMethod</string>
	<key>singletonThanVar</key>
	<string>skirtEnvironmentTint</string>
</dict>
</plist>
