<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryBridgeDepth</key>
	<string>blocStructureHead</string>
	<key>criticalAlignmentTint</key>
	<string>gramBesidePhase</string>
	<key>dialogsFrameworkSkewx</key>
	<string>usageOrWork</string>
	<key>memberContainProxy</key>
	<string>sinkThroughMemento</string>
	<key>menuUntilParameter</key>
	<string>positionedVersusProcess</string>
	<key>observerNearSystem</key>
	<string>grainIncludeSingleton</string>
	<key>sineNearMethod</key>
	<string>accordionAlertState</string>
</dict>
</plist>
