<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerLayerRate</key>
	<string>prevResultForce</string>
	<key>heapSinceMode</key>
	<string>usecaseFacadeScale</string>
	<key>resultKindValidation</key>
	<string>axisStructureTop</string>
	<key>streamDecoratorStatus</key>
	<string>spriteExceptDecorator</string>
</dict>
</plist>
