<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSpriteShape</key>
	<string>observerBufferAlignment</string>
	<key>frameDuringActivity</key>
	<string>oldErrorForce</string>
	<key>menuLikeStage</key>
	<string>smallTextureVisibility</string>
	<key>significantSpineVisibility</key>
	<string>usedBoxshadowRight</string>
	<key>sineSinceStrategy</key>
	<string>subscriptionAwayVariable</string>
	<key>spineTempleDepth</key>
	<string>significantAccessoryTension</string>
	<key>statelessChannelsValidation</key>
	<string>alignmentOfState</string>
	<key>symmetricResolverAlignment</key>
	<string>methodBeyondProcess</string>
</dict>
</plist>
