<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncChapterBrightness</key>
	<string>overlayKindTint</string>
	<key>containerNearShape</key>
	<string>layoutKindCenter</string>
	<key>equalizationContainForm</key>
	<string>exceptionAlongMediator</string>
	<key>intuitiveAwaitPadding</key>
	<string>descriptionNearScope</string>
	<key>painterThanPattern</key>
	<string>sequentialSkirtCenter</string>
	<key>tabbarOrTier</key>
	<string>popupForCycle</string>
	<key>typicalIsolateState</key>
	<string>textAboutSingleton</string>
</dict>
</plist>
