<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityVisitorScale</key>
	<string>sessionAtPhase</string>
	<key>primaryCharacterTransparency</key>
	<string>batchViaBuffer</string>
	<key>repositoryValueTag</key>
	<string>statelessContainerTop</string>
	<key>resultDespiteTier</key>
	<string>reducerChainCenter</string>
	<key>serviceOperationSpacing</key>
	<string>singleBlocCount</string>
</dict>
</plist>
