<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAlongFacade</key>
	<string>symbolActionVelocity</string>
	<key>commandDuringType</key>
	<string>documentCompositeKind</string>
	<key>controllerKindTint</key>
	<string>tickerExceptAdapter</string>
	<key>providerActivityMode</key>
	<string>gridAmongStyle</string>
	<key>swiftThanSystem</key>
	<string>navigatorKindDistance</string>
</dict>
</plist>
