<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeWidgetRight</key>
	<string>subscriptionFunctionFeedback</string>
	<key>allocatorAroundFramework</key>
	<string>transitionModeStatus</string>
	<key>beginnerBufferVisible</key>
	<string>decorationUntilAction</string>
	<key>concreteEntityBehavior</key>
	<string>statefulEffectPressure</string>
	<key>methodVersusLayer</key>
	<string>typicalCoordinatorFeedback</string>
	<key>permissiveImageOpacity</key>
	<string>variantEnvironmentTension</string>
	<key>rowWithStage</key>
	<string>layoutPerMethod</string>
	<key>screenAroundComposite</key>
	<string>comprehensiveProviderShape</string>
	<key>sizedboxFunctionMomentum</key>
	<string>intensityCommandDensity</string>
	<key>viewVisitorSaturation</key>
	<string>delicateUnaryInset</string>
</dict>
</plist>
