<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialUsageDepth</key>
	<string>callbackAwayVisitor</string>
	<key>currentMetadataBound</key>
	<string>topicAmongFunction</string>
	<key>eventLayerDensity</key>
	<string>isolateJobPadding</string>
	<key>indicatorLayerContrast</key>
	<string>mutableRadiusName</string>
	<key>toolProcessSpeed</key>
	<string>gridviewVersusStage</string>
</dict>
</plist>
