<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicEventVisibility</key>
	<string>reusableToolStatus</string>
	<key>modelContainLevel</key>
	<string>builderDespiteWork</string>
	<key>multiDependencyBorder</key>
	<string>smartBufferFlags</string>
	<key>petProxyMargin</key>
	<string>captionIncludeTemple</string>
	<key>rapidTransitionName</key>
	<string>crudeListviewVelocity</string>
	<key>responseWorkRotation</key>
	<string>monsterJobTension</string>
	<key>sharedInteractorFeedback</key>
	<string>constGraphTag</string>
	<key>staticNavigatorHue</key>
	<string>heapLikeCommand</string>
	<key>tabviewChainDuration</key>
	<string>cursorWithoutStrategy</string>
	<key>titleMediatorTension</key>
	<string>responseWithoutPlatform</string>
</dict>
</plist>
