<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchStageTop</key>
	<string>typicalViewAppearance</string>
	<key>buttonOutsideTemple</key>
	<string>declarativeBlocCount</string>
	<key>groupDespiteFunction</key>
	<string>projectFacadeOffset</string>
	<key>heapStyleCenter</key>
	<string>mainWorkflowEdge</string>
	<key>normProxyTransparency</key>
	<string>completionOrStrategy</string>
	<key>sceneExceptBridge</key>
	<string>momentumStructureDensity</string>
	<key>switchAndKind</key>
	<string>positionedSingletonLocation</string>
</dict>
</plist>
