<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphMementoOffset</key>
	<string>persistentLayerAlignment</string>
	<key>gridFormName</key>
	<string>grayscaleBeyondProcess</string>
	<key>modulusBeyondPlatform</key>
	<string>subscriptionForLevel</string>
	<key>sizeTaskPadding</key>
	<string>factoryVarVisibility</string>
	<key>tabviewVarBottom</key>
	<string>significantGiftBrightness</string>
	<key>timerByType</key>
	<string>gridviewUntilLayer</string>
</dict>
</plist>
