<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineActivityFeedback</key>
	<string>previewOutsideMemento</string>
	<key>largeListviewStyle</key>
	<string>layoutPlatformFeedback</string>
	<key>musicFrameworkSpeed</key>
	<string>textfieldAtParam</string>
	<key>notifierCycleShape</key>
	<string>optimizerOutsideMemento</string>
	<key>radiusAtStrategy</key>
	<string>channelVisitorDistance</string>
	<key>serviceAmongJob</key>
	<string>responseAtPhase</string>
	<key>sessionScopeTag</key>
	<string>expandedVarPosition</string>
	<key>specifierAdapterCoord</key>
	<string>storeStructureOrigin</string>
	<key>symmetricIntensityRight</key>
	<string>factoryAmongVar</string>
</dict>
</plist>
