<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoBuilderBrightness</key>
	<string>interpolationContainShape</string>
	<key>descriptionDuringNumber</key>
	<string>curveAdapterSaturation</string>
	<key>grayscaleBufferVelocity</key>
	<string>disparateGraphLeft</string>
	<key>heapStyleMode</key>
	<string>significantIntensityDelay</string>
	<key>keyRepositoryTop</key>
	<string>checkboxInterpreterLeft</string>
	<key>movementInsideLayer</key>
	<string>hashStrategyBorder</string>
	<key>plateStrategyPressure</key>
	<string>significantEntityInterval</string>
	<key>responseThroughStyle</key>
	<string>interactiveRowDepth</string>
</dict>
</plist>
