<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secondInstructionCount</key>
	<string>publicCubeAlignment</string>
	<key>sliderVarSpeed</key>
	<string>custompaintFromVariable</string>
	<key>sustainableInterfaceOrigin</key>
	<string>synchronousGramRotation</string>
</dict>
</plist>
