<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticFragmentInset</key>
	<string>paddingBufferScale</string>
	<key>desktopListenerPressure</key>
	<string>numericalCycleLeft</string>
	<key>listenerSingletonStatus</key>
	<string>lastStateOffset</string>
	<key>playbackOrAdapter</key>
	<string>richtextFunctionTop</string>
	<key>queryBesideProcess</key>
	<string>parallelAccessoryInteraction</string>
	<key>threadForParam</key>
	<string>intensityAgainstCommand</string>
</dict>
</plist>
