<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianChannelStyle</key>
	<string>sortedTextureVisibility</string>
	<key>constraintContextState</key>
	<string>challengeActivityShade</string>
	<key>custompaintActionAlignment</key>
	<string>queryCycleForce</string>
	<key>displayableAnchorShape</key>
	<string>exceptionFromBridge</string>
	<key>finalConstraintDuration</key>
	<string>durationIncludeDecorator</string>
	<key>indicatorWithoutTask</key>
	<string>futureNearComposite</string>
	<key>mediaModeAcceleration</key>
	<string>modalCompositeBottom</string>
	<key>responseWithFunction</key>
	<string>subpixelPhaseHead</string>
	<key>typicalBorderShade</key>
	<string>anchorStageTail</string>
</dict>
</plist>
