<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateSinceCommand</key>
	<string>assetForStrategy</string>
	<key>boxshadowVarBehavior</key>
	<string>gemModeDirection</string>
	<key>gridVersusTemple</key>
	<string>momentumPatternType</string>
	<key>groupStructureSkewy</key>
	<string>crucialChecklistShade</string>
	<key>pivotalCapsuleMargin</key>
	<string>assetFacadeContrast</string>
	<key>screenInsidePrototype</key>
	<string>catalystPatternBorder</string>
	<key>webBaselineFrequency</key>
	<string>riverpodStrategyTheme</string>
	<key>webConvolutionFrequency</key>
	<string>decorationWithoutKind</string>
</dict>
</plist>
