<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisNearSystem</key>
	<string>relationalProviderPressure</string>
	<key>difficultModelDuration</key>
	<string>basicTextAppearance</string>
	<key>fragmentMementoTheme</key>
	<string>uniquePriorityLocation</string>
	<key>indicatorProxyCenter</key>
	<string>prismaticClipperContrast</string>
	<key>petOrObserver</key>
	<string>reductionPerOperation</string>
	<key>reusableActionSkewy</key>
	<string>factoryCycleAppearance</string>
	<key>spritePlatformResponse</key>
	<string>workflowForFramework</string>
	<key>subpixelAsOperation</key>
	<string>radiusNumberMomentum</string>
</dict>
</plist>
