<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorForActivity</key>
	<string>listenerTempleMode</string>
	<key>declarativeContainerAcceleration</key>
	<string>descriptionContextCenter</string>
	<key>dropdownbuttonMethodValidation</key>
	<string>grayscaleActivityEdge</string>
	<key>effectMediatorTop</key>
	<string>agileDialogsFlags</string>
	<key>futureAmongVar</key>
	<string>referenceAmongCycle</string>
	<key>lazyHashFlags</key>
	<string>protocolAwayParam</string>
	<key>liteReducerTransparency</key>
	<string>commonMultiplicationTheme</string>
	<key>usageThanVisitor</key>
	<string>zoneAlongMode</string>
</dict>
</plist>
