<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationPerAdapter</key>
	<string>menuCommandValidation</string>
	<key>durationAwayVisitor</key>
	<string>alertAsFlyweight</string>
	<key>progressbarFrameworkInteraction</key>
	<string>graphicMementoIndex</string>
	<key>responseVersusLevel</key>
	<string>accordionManagerFrequency</string>
	<key>routeVarBehavior</key>
	<string>equipmentSinceLevel</string>
	<key>sinkPlatformDirection</key>
	<string>clipperParameterDepth</string>
	<key>specifyGridviewSaturation</key>
	<string>histogramProcessDistance</string>
	<key>streamNearValue</key>
	<string>nodeLikeWork</string>
	<key>subscriptionSingletonShape</key>
	<string>compositionUntilShape</string>
</dict>
</plist>
