<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAnimationDelay</key>
	<string>effectStageMode</string>
	<key>gemViaLevel</key>
	<string>scrollDespiteLayer</string>
	<key>injectionNumberIndex</key>
	<string>advancedMasterInteraction</string>
	<key>materialAwayVariable</key>
	<string>sophisticatedBulletEdge</string>
	<key>normalPromiseShape</key>
	<string>commandViaEnvironment</string>
	<key>resolverObserverEdge</key>
	<string>momentumObserverCount</string>
	<key>sharedDescriptorType</key>
	<string>layerNumberPressure</string>
	<key>textIncludeValue</key>
	<string>dependencyAtFramework</string>
</dict>
</plist>
