<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionLabelMode</key>
	<string>rowInVariable</string>
	<key>bufferStateForce</key>
	<string>cupertinoTypeDirection</string>
	<key>completerByProxy</key>
	<string>unsortedLocalizationPressure</string>
	<key>compositionVersusJob</key>
	<string>cartesianTextureRate</string>
	<key>constraintByObserver</key>
	<string>popupFlyweightRate</string>
	<key>crucialCertificateName</key>
	<string>zoneCommandShade</string>
	<key>disabledKernelOffset</key>
	<string>lossStrategyResponse</string>
	<key>durationAtPlatform</key>
	<string>materialExtensionTag</string>
	<key>handlerDespiteVisitor</key>
	<string>consultativeStatelessEdge</string>
	<key>providerFromChain</key>
	<string>segmentLikeTier</string>
</dict>
</plist>
