<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionVisitorHue</key>
	<string>sliderSinceShape</string>
	<key>fusedToolContrast</key>
	<string>sortedHashShape</string>
	<key>significantStorageScale</key>
	<string>heroSinceParam</string>
	<key>sliderVariableShape</key>
	<string>consultativeResponseTag</string>
	<key>smallHandlerTheme</key>
	<string>listenerAndComposite</string>
	<key>sophisticatedDecorationMode</key>
	<string>errorInsideDecorator</string>
	<key>spotVersusForm</key>
	<string>stackContainState</string>
	<key>zoneAroundMode</key>
	<string>tickerTaskTransparency</string>
</dict>
</plist>
