<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetActionAlignment</key>
	<string>customExpandedRotation</string>
	<key>diffableBlocTheme</key>
	<string>nativeTopicResponse</string>
	<key>diversifiedWidgetScale</key>
	<string>capacitiesOutsideTask</string>
	<key>injectionBridgeAlignment</key>
	<string>sceneIncludeDecorator</string>
	<key>resourceTempleType</key>
	<string>difficultSkirtIndex</string>
	<key>riverpodBesideFunction</key>
	<string>timerWorkAppearance</string>
	<key>screenTaskKind</key>
	<string>subscriptionNearStyle</string>
	<key>timerShapeLocation</key>
	<string>boxshadowNearCycle</string>
</dict>
</plist>
