<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioBridgeType</key>
	<string>collectionStateFeedback</string>
	<key>buttonNumberTail</key>
	<string>publicLayoutFeedback</string>
	<key>columnVariableMargin</key>
	<string>nativeReducerType</string>
	<key>gradientVarEdge</key>
	<string>protectedMobileType</string>
	<key>largeSizedboxAlignment</key>
	<string>rowInterpreterMode</string>
	<key>presenterThanContext</key>
	<string>projectionIncludeValue</string>
	<key>profileBesideJob</key>
	<string>animatedcontainerLayerTheme</string>
	<key>queryForComposite</key>
	<string>globalHistogramStyle</string>
	<key>sinkDespiteProcess</key>
	<string>sizeThroughShape</string>
	<key>textfieldEnvironmentBehavior</key>
	<string>durationActivitySpeed</string>
</dict>
</plist>
