<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintWithoutValue</key>
	<string>relationalBorderSpeed</string>
	<key>durationModeLocation</key>
	<string>serviceCommandEdge</string>
	<key>positionWithJob</key>
	<string>cycleVersusLevel</string>
	<key>semanticHashOrientation</key>
	<string>graphParamSpeed</string>
	<key>sophisticatedEffectDirection</key>
	<string>geometricCompositionRate</string>
	<key>sustainableCubitInteraction</key>
	<string>agileWidgetCoord</string>
</dict>
</plist>
