<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionBesideBuffer</key>
	<string>standaloneMobxRight</string>
	<key>labelExceptParam</key>
	<string>numericalSizeColor</string>
	<key>priorityOfFunction</key>
	<string>decorationAsMethod</string>
	<key>routeMethodType</key>
	<string>nativeListenerForce</string>
	<key>scrollFlyweightTint</key>
	<string>contractionWithPattern</string>
	<key>sortedMethodDistance</key>
	<string>criticalUsageDepth</string>
	<key>subscriptionActivitySize</key>
	<string>composableActionBottom</string>
	<key>tensorGrainColor</key>
	<string>robustChartStatus</string>
</dict>
</plist>
