<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAsForm</key>
	<string>descriptorOrCommand</string>
	<key>cosineAsMemento</key>
	<string>localizationTaskHue</string>
	<key>factoryPerMethod</key>
	<string>featureWithKind</string>
	<key>finalPositionFrequency</key>
	<string>popupLikeComposite</string>
	<key>mediumControllerCenter</key>
	<string>aspectTempleForce</string>
	<key>operationAroundKind</key>
	<string>viewWithContext</string>
	<key>queueAwayPlatform</key>
	<string>compositionAdapterDirection</string>
	<key>rowFrameworkDuration</key>
	<string>errorAtInterpreter</string>
	<key>sortedAnimationAlignment</key>
	<string>skinAmongFramework</string>
	<key>timerForStyle</key>
	<string>cupertinoDecoratorPosition</string>
</dict>
</plist>
