<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasOutsideStage</key>
	<string>navigatorThanAction</string>
	<key>enabledHistogramRate</key>
	<string>sequentialTweenSkewy</string>
	<key>fusedMenuContrast</key>
	<string>semanticsFunctionMode</string>
	<key>intermediateSizeBrightness</key>
	<string>positionedKindForce</string>
	<key>newestNavigatorPosition</key>
	<string>immediateAnimationBottom</string>
	<key>normalThreadCount</key>
	<string>resourceContainMediator</string>
	<key>rowStrategyBrightness</key>
	<string>equipmentSingletonBorder</string>
	<key>sizedboxStageContrast</key>
	<string>positionExceptComposite</string>
</dict>
</plist>
