<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchParamDelay</key>
	<string>storePrototypeValidation</string>
	<key>globalColumnType</key>
	<string>lastFlexMode</string>
	<key>handlerActionLeft</key>
	<string>interfaceScopeTag</string>
	<key>mediaSingletonInset</key>
	<string>sineStrategySize</string>
	<key>methodContextMomentum</key>
	<string>animatedcontainerMementoCoord</string>
	<key>rectOrProcess</key>
	<string>durationOutsideMemento</string>
	<key>singletonSystemBorder</key>
	<string>convolutionChainDensity</string>
</dict>
</plist>
