<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianListviewName</key>
	<string>resolverLayerAlignment</string>
	<key>containerActivityShape</key>
	<string>cycleVarEdge</string>
	<key>cupertinoVarDirection</key>
	<string>geometricAnimationInteraction</string>
	<key>easyPrecisionOrientation</key>
	<string>fusedImageForce</string>
	<key>hyperbolicCycleSkewx</key>
	<string>sharedBaselineVisibility</string>
	<key>liteSkinVisibility</key>
	<string>baseByActivity</string>
	<key>mobileTaskMomentum</key>
	<string>sizeAroundProxy</string>
	<key>prevMovementDistance</key>
	<string>navigatorSingletonBound</string>
	<key>repositoryValueContrast</key>
	<string>profileCommandKind</string>
	<key>reusableEventAppearance</key>
	<string>boxAlongTemple</string>
</dict>
</plist>
