<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowVersusContext</key>
	<string>promiseFlyweightAppearance</string>
	<key>commonGramBorder</key>
	<string>petOfContext</string>
	<key>discardedInkwellDirection</key>
	<string>denseButtonLocation</string>
	<key>memberWithStage</key>
	<string>durationThroughTemple</string>
	<key>semanticTopicRotation</key>
	<string>stampBufferInset</string>
	<key>statelessInterpreterBehavior</key>
	<string>segueBeyondPhase</string>
	<key>vectorStructureShade</key>
	<string>playbackTempleForce</string>
</dict>
</plist>
