<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedErrorRight</key>
	<string>boxshadowProcessAppearance</string>
	<key>channelsIncludeFacade</key>
	<string>sizeInterpreterTop</string>
	<key>disabledMultiplicationDirection</key>
	<string>skirtContextVisibility</string>
	<key>labelFromAction</key>
	<string>completionAwayContext</string>
	<key>transformerInValue</key>
	<string>viewAndMethod</string>
</dict>
</plist>
