<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerStructureVisibility</key>
	<string>sensorNearProxy</string>
	<key>elasticUtilPressure</key>
	<string>storagePatternSpeed</string>
	<key>interfaceNearLevel</key>
	<string>projectionThanSystem</string>
	<key>mapAboutFramework</key>
	<string>methodMementoRotation</string>
	<key>masterKindType</key>
	<string>dependencyOfMethod</string>
	<key>prismaticSubscriptionSaturation</key>
	<string>batchAgainstParameter</string>
	<key>resultDuringShape</key>
	<string>eventViaObserver</string>
	<key>stateAwayForm</key>
	<string>gateActivityCoord</string>
	<key>stateParamFormat</key>
	<string>requestAmongSingleton</string>
</dict>
</plist>
