<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStateFrequency</key>
	<string>projectScopeTint</string>
	<key>buttonByInterpreter</key>
	<string>criticalCaptionRotation</string>
	<key>crudeBlocType</key>
	<string>arithmeticNavigatorDelay</string>
	<key>layoutDespiteProxy</key>
	<string>profileOrLevel</string>
	<key>memberFlyweightAppearance</key>
	<string>timerActivityTail</string>
	<key>mobileStrategyAlignment</key>
	<string>uniqueOperationForce</string>
	<key>offsetActivityInset</key>
	<string>stackTaskKind</string>
	<key>prevDialogsFrequency</key>
	<string>layoutShapeSpacing</string>
	<key>progressbarBridgePressure</key>
	<string>exceptionIncludeStyle</string>
</dict>
</plist>
