<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioOutsideBuffer</key>
	<string>resilientCardInterval</string>
	<key>giftOrFunction</key>
	<string>petOrValue</string>
	<key>mutableLabelInset</key>
	<string>sessionOfScope</string>
	<key>roleBridgeAlignment</key>
	<string>pointPhaseBorder</string>
</dict>
</plist>
