<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActivityType</key>
	<string>gestureVarValidation</string>
	<key>discardedWidgetInset</key>
	<string>opaqueGemVisibility</string>
	<key>geometricGemMargin</key>
	<string>singleTopicMomentum</string>
	<key>indicatorMediatorTheme</key>
	<string>handlerStylePadding</string>
	<key>liteFrameShape</key>
	<string>criticalCapsuleBound</string>
	<key>monsterMementoCount</key>
	<string>particleOutsideParam</string>
</dict>
</plist>
