<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellTypeType</key>
	<string>activityBeyondLevel</string>
	<key>cubitStrategyIndex</key>
	<string>presenterTaskAppearance</string>
	<key>ignoredSpriteCoord</key>
	<string>gridviewWithoutParameter</string>
	<key>offsetBesideJob</key>
	<string>easyGroupFeedback</string>
	<key>queryActionBound</key>
	<string>visibleGroupShape</string>
	<key>respectiveHistogramStyle</key>
	<string>visibleCupertinoBottom</string>
	<key>responsiveClipperColor</key>
	<string>routerSinceFlyweight</string>
	<key>sharedInterpolationOpacity</key>
	<string>functionalSceneMargin</string>
	<key>subscriptionWithWork</key>
	<string>transitionLayerTransparency</string>
	<key>widgetNearJob</key>
	<string>bufferVisitorScale</string>
</dict>
</plist>
