<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeSkinBorder</key>
	<string>sampleShapeTension</string>
	<key>desktopInkwellMomentum</key>
	<string>nativeDecorationMomentum</string>
	<key>errorContainMode</key>
	<string>activatedDelegateResponse</string>
	<key>largeStatelessTop</key>
	<string>frameKindOrigin</string>
	<key>scrollableHashRight</key>
	<string>eventContextType</string>
	<key>tickerOfTask</key>
	<string>alignmentOfOperation</string>
</dict>
</plist>
