<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionStateMode</key>
	<string>behaviorIncludeAction</string>
	<key>groupUntilNumber</key>
	<string>webHandlerBound</string>
	<key>hashOutsideFunction</key>
	<string>crudeEventHead</string>
	<key>layerPatternInteraction</key>
	<string>interfaceLayerShade</string>
	<key>sizeAwayMethod</key>
	<string>routeOfStyle</string>
	<key>symmetricToolTheme</key>
	<string>keyIsolateSpacing</string>
	<key>usageSystemFeedback</key>
	<string>dialogsIncludeTask</string>
</dict>
</plist>
