<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedWithoutBridge</key>
	<string>sharedRouterTop</string>
	<key>imageFlyweightTransparency</key>
	<string>zoneNearStrategy</string>
	<key>petVersusScope</key>
	<string>binarySinceCycle</string>
	<key>responsiveCardVelocity</key>
	<string>pivotalModelPressure</string>
	<key>spineStyleRate</key>
	<string>compositionalLabelPressure</string>
</dict>
</plist>
