<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorAsVar</key>
	<string>symbolBesideAction</string>
	<key>fusedLayoutTheme</key>
	<string>cartesianNodeStyle</string>
	<key>otherOffsetDepth</key>
	<string>nodeActivityTail</string>
	<key>persistentSymbolContrast</key>
	<string>deferredFactoryFrequency</string>
	<key>sceneExceptStyle</key>
	<string>sliderStructureDistance</string>
	<key>signatureCompositeAlignment</key>
	<string>timerByShape</string>
	<key>sophisticatedSingletonShape</key>
	<string>indicatorByTask</string>
	<key>uniqueCallbackForce</key>
	<string>storyboardOperationCoord</string>
</dict>
</plist>
