<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAmongJob</key>
	<string>slashOperationMode</string>
	<key>kernelOutsideMediator</key>
	<string>fixedBoxshadowBorder</string>
	<key>otherViewScale</key>
	<string>futureActionContrast</string>
	<key>positionMethodKind</key>
	<string>concurrentRouterTension</string>
	<key>positionedScopeOrigin</key>
	<string>discardedNibMargin</string>
	<key>secondToolAcceleration</key>
	<string>disabledInterfaceInterval</string>
	<key>skinWithoutObserver</key>
	<string>flexibleGroupForce</string>
	<key>sliderAsChain</key>
	<string>variantAsTask</string>
	<key>smartConfigurationLeft</key>
	<string>routeBufferSkewy</string>
</dict>
</plist>
