<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionThroughType</key>
	<string>titleIncludeBuffer</string>
	<key>animationLikeForm</key>
	<string>progressbarStrategyScale</string>
	<key>constInteractorHue</key>
	<string>projectFacadeFrequency</string>
	<key>containerAlongChain</key>
	<string>publicHeapMode</string>
	<key>curveAroundBridge</key>
	<string>tableVariableDepth</string>
	<key>mapTempleOrigin</key>
	<string>interactiveIntensitySkewy</string>
	<key>responsePrototypeOrientation</key>
	<string>localAlignmentEdge</string>
	<key>rowUntilDecorator</key>
	<string>heroEnvironmentDistance</string>
	<key>spriteActivityState</key>
	<string>configurationOrInterpreter</string>
	<key>tensorIconState</key>
	<string>marginActionResponse</string>
</dict>
</plist>
