<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicAnimatedcontainerMomentum</key>
	<string>animationContextPadding</string>
	<key>intuitiveDescriptionInteraction</key>
	<string>priorGridVisibility</string>
	<key>localTimerInteraction</key>
	<string>diversifiedBatchPressure</string>
	<key>popupViaTemple</key>
	<string>sceneInsideCycle</string>
	<key>reducerStyleTag</key>
	<string>collectionVisitorName</string>
	<key>resolverDuringVisitor</key>
	<string>specifierVersusVariable</string>
	<key>symbolAndForm</key>
	<string>channelsVariableStyle</string>
	<key>timerOfLevel</key>
	<string>arithmeticLayoutVelocity</string>
</dict>
</plist>
