<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitInFunction</key>
	<string>smallEffectSkewx</string>
	<key>iconStructureInterval</key>
	<string>stateIncludeStrategy</string>
	<key>keyChannelDepth</key>
	<string>normalCanvasPressure</string>
	<key>mobileUsageSkewx</key>
	<string>multiplicationWithVisitor</string>
	<key>positionedBridgeInset</key>
	<string>visibleContainerDuration</string>
	<key>substantialCapacitiesFeedback</key>
	<string>cubeJobBound</string>
</dict>
</plist>
