<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPositionShape</key>
	<string>richtextAboutScope</string>
	<key>chapterVisitorDensity</key>
	<string>requestLevelCount</string>
	<key>fragmentStyleTransparency</key>
	<string>hyperbolicNavigatorType</string>
	<key>grainFrameworkSkewy</key>
	<string>canvasUntilShape</string>
	<key>labelLikeChain</key>
	<string>significantMusicRotation</string>
	<key>liteGridviewSpeed</key>
	<string>denseCubeDensity</string>
	<key>resizableMediaBorder</key>
	<string>easyChapterTheme</string>
	<key>titleAgainstObserver</key>
	<string>singletonJobLocation</string>
	<key>variantInInterpreter</key>
	<string>pinchableRadiusFrequency</string>
</dict>
</plist>
