<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativePresenterTransparency</key>
	<string>widgetAmongSingleton</string>
	<key>eventWithoutInterpreter</key>
	<string>futureTypeBorder</string>
	<key>hyperbolicTextfieldTint</key>
	<string>scrollAroundObserver</string>
	<key>instructionSingletonFeedback</key>
	<string>normContextTint</string>
	<key>painterPhaseTint</key>
	<string>responseVisitorVisible</string>
	<key>previewCycleDelay</key>
	<string>drawerAmongFramework</string>
	<key>resultFlyweightDelay</key>
	<string>modelAgainstChain</string>
	<key>robustLogAppearance</key>
	<string>semanticStreamScale</string>
	<key>routerTempleBorder</key>
	<string>petLevelInset</string>
</dict>
</plist>
