<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferMethodRight</key>
	<string>vectorAmongKind</string>
	<key>metadataValueFeedback</key>
	<string>completerOperationBehavior</string>
	<key>primaryPrecisionCoord</key>
	<string>extensionVisitorSaturation</string>
	<key>sliderCommandForce</key>
	<string>spotStructureSaturation</string>
</dict>
</plist>
