<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAwayProcess</key>
	<string>seamlessTextAlignment</string>
	<key>commonBinaryInset</key>
	<string>hashPhaseForce</string>
	<key>consultativeViewContrast</key>
	<string>sustainableCompleterTension</string>
	<key>drawerAlongFunction</key>
	<string>numericalAsyncBound</string>
</dict>
</plist>
