<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFromValue</key>
	<string>exponentBridgeFormat</string>
	<key>missionOrParameter</key>
	<string>inkwellCycleKind</string>
	<key>mobxStageOffset</key>
	<string>interactorParamMode</string>
</dict>
</plist>
