<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAdapterAlignment</key>
	<string>singleCanvasStyle</string>
	<key>cycleFrameworkSpacing</key>
	<string>modelScopeAcceleration</string>
	<key>labelExceptBridge</key>
	<string>projectionDespiteInterpreter</string>
	<key>notificationFacadeBorder</key>
	<string>bufferOfKind</string>
	<key>statelessUntilInterpreter</key>
	<string>comprehensiveTransitionStyle</string>
</dict>
</plist>
