<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushContextPadding</key>
	<string>errorFunctionVisible</string>
	<key>iconUntilState</key>
	<string>brushFacadeTop</string>
	<key>statelessValueVisibility</key>
	<string>cardAndPrototype</string>
</dict>
</plist>
