<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationKindVisible</key>
	<string>smallNavigatorValidation</string>
	<key>crucialCommandDepth</key>
	<string>notifierStyleVelocity</string>
	<key>crucialFutureBorder</key>
	<string>chartContextInteraction</string>
	<key>loopOrMemento</key>
	<string>boxWithoutParam</string>
	<key>metadataCycleTag</key>
	<string>inactiveStoreStatus</string>
	<key>otherSubpixelPosition</key>
	<string>navigationMethodOpacity</string>
	<key>sortedModulusBound</key>
	<string>factoryScopeBound</string>
	<key>taskContainBridge</key>
	<string>petEnvironmentTint</string>
</dict>
</plist>
