<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constMapTag</key>
	<string>hashIncludeFramework</string>
	<key>gateAndPhase</key>
	<string>consultativeTransformerFlags</string>
	<key>normMediatorRotation</key>
	<string>routePrototypeTension</string>
	<key>scaleExceptAdapter</key>
	<string>animatedcontainerChainSpacing</string>
	<key>sustainableSizeOrigin</key>
	<string>storageOfLevel</string>
</dict>
</plist>
