<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableGraphOpacity</key>
	<string>viewTempleStyle</string>
	<key>inactiveBuilderName</key>
	<string>inactiveIntensityTint</string>
	<key>parallelCaptionType</key>
	<string>radiusAboutFlyweight</string>
	<key>staticDocumentTension</key>
	<string>projectVarOffset</string>
</dict>
</plist>
