<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDescriptorOrigin</key>
	<string>dependencyBeyondVisitor</string>
	<key>fixedProjectionStyle</key>
	<string>scaleVarOffset</string>
	<key>notifierFunctionPressure</key>
	<string>stateByKind</string>
	<key>previewEnvironmentShape</key>
	<string>configurationBufferLeft</string>
	<key>scaleLikeTier</key>
	<string>deferredRouterMargin</string>
	<key>sceneProxyCenter</key>
	<string>firstTangentName</string>
	<key>statelessCommandType</key>
	<string>sensorByLevel</string>
</dict>
</plist>
