<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonParameterDistance</key>
	<string>sliderAlongFlyweight</string>
	<key>decorationForPhase</key>
	<string>directErrorRight</string>
	<key>directlyConfigurationDensity</key>
	<string>symmetricCatalystDirection</string>
	<key>displayableGridTop</key>
	<string>independentResourceOrigin</string>
	<key>featureTaskRate</key>
	<string>associatedInterpolationLeft</string>
	<key>fragmentCommandCount</key>
	<string>rowWithShape</string>
	<key>notifierInsideVar</key>
	<string>themeThroughChain</string>
	<key>sophisticatedSampleSaturation</key>
	<string>appbarParameterAppearance</string>
</dict>
</plist>
