<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOperationMargin</key>
	<string>widgetAsKind</string>
	<key>canvasAboutPrototype</key>
	<string>precisionSinceBridge</string>
	<key>diffableExceptionOpacity</key>
	<string>anchorUntilOperation</string>
	<key>easyProviderTop</key>
	<string>managerBesidePlatform</string>
	<key>errorPatternRotation</key>
	<string>giftAtAdapter</string>
	<key>euclideanToolTop</key>
	<string>toolParamSpeed</string>
	<key>methodVersusLayer</key>
	<string>serviceInsideAction</string>
	<key>mobileFlyweightMode</key>
	<string>rowInsideWork</string>
	<key>pageviewFacadeAcceleration</key>
	<string>resolverAtParam</string>
	<key>presenterNearProxy</key>
	<string>signByScope</string>
</dict>
</plist>
