<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionModeContrast</key>
	<string>associatedRadioFeedback</string>
	<key>cellAmongTier</key>
	<string>widgetPhasePadding</string>
	<key>channelVisitorAlignment</key>
	<string>particleVariableInset</string>
	<key>euclideanSymbolName</key>
	<string>lostInterfaceRight</string>
	<key>mobileTextureSpeed</key>
	<string>tickerShapePosition</string>
	<key>transitionVariableRate</key>
	<string>associatedPopupSaturation</string>
	<key>usecaseProxyCount</key>
	<string>statefulUntilLevel</string>
</dict>
</plist>
