<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchInsidePrototype</key>
	<string>euclideanLossForce</string>
	<key>commonPaddingHead</key>
	<string>difficultCoordinatorHue</string>
	<key>curveAtNumber</key>
	<string>clipperFunctionInteraction</string>
	<key>entityNumberVelocity</key>
	<string>graphParamStatus</string>
	<key>newestGroupBrightness</key>
	<string>coordinatorParameterBrightness</string>
	<key>primaryVariantFlags</key>
	<string>coordinatorInsideVar</string>
	<key>reducerIncludeScope</key>
	<string>tappableCapacitiesPressure</string>
	<key>resultUntilCycle</key>
	<string>smallStorageInset</string>
	<key>swiftViaFramework</key>
	<string>metadataStateAcceleration</string>
	<key>widgetActionRight</key>
	<string>keyMenuVelocity</string>
</dict>
</plist>
