<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeActionBrightness</key>
	<string>statelessJobRotation</string>
	<key>effectLevelCoord</key>
	<string>sceneMethodCenter</string>
	<key>localSceneForce</key>
	<string>statelessEffectType</string>
	<key>loopAmongChain</key>
	<string>explicitBuilderFeedback</string>
	<key>navigatorFrameworkIndex</key>
	<string>sustainableParticleFeedback</string>
	<key>precisionFlyweightVisible</key>
	<string>movementFacadeType</string>
	<key>queryStrategyIndex</key>
	<string>temporaryNodeDirection</string>
	<key>sharedPromiseDuration</key>
	<string>beginnerPopupRotation</string>
	<key>usedCaptionInset</key>
	<string>publicDescriptionTag</string>
</dict>
</plist>
