<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationStateInteraction</key>
	<string>mediumUsageInterval</string>
	<key>easyAnimatedcontainerCenter</key>
	<string>specifierOfAction</string>
	<key>monsterProxyScale</key>
	<string>singletonNumberLeft</string>
	<key>publicBulletState</key>
	<string>logarithmExceptVisitor</string>
	<key>widgetOrProxy</key>
	<string>channelsBesideParam</string>
</dict>
</plist>
