<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionThroughSystem</key>
	<string>activityStructureType</string>
	<key>channelsWithoutPattern</key>
	<string>normViaComposite</string>
	<key>expandedFunctionBorder</key>
	<string>pinchableRowColor</string>
	<key>queryUntilVisitor</key>
	<string>tweenAboutProcess</string>
	<key>reducerStyleBottom</key>
	<string>sophisticatedChartAcceleration</string>
	<key>retainedDurationContrast</key>
	<string>navigatorFromActivity</string>
	<key>stampAmongOperation</key>
	<string>timerFlyweightMargin</string>
</dict>
</plist>
