<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxDespiteShape</key>
	<string>callbackParameterOffset</string>
	<key>consultativeGraphicRate</key>
	<string>descriptionVariableTop</string>
	<key>intensityMementoOffset</key>
	<string>gesturedetectorTypeMomentum</string>
	<key>mediumLoopVisible</key>
	<string>sustainableEntityHead</string>
	<key>repositoryEnvironmentPadding</key>
	<string>optionVersusInterpreter</string>
	<key>resultThroughChain</key>
	<string>originalInterpolationScale</string>
</dict>
</plist>
