<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeTaskRight</key>
	<string>agileEntityTail</string>
	<key>constraintAlongMode</key>
	<string>crudeIsolateForce</string>
	<key>instructionMethodBottom</key>
	<string>fragmentMementoHead</string>
	<key>offsetByShape</key>
	<string>multiplicationOrType</string>
	<key>priorityDuringJob</key>
	<string>mediumRadiusInteraction</string>
	<key>reductionAroundStage</key>
	<string>controllerOperationOrientation</string>
</dict>
</plist>
