<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalIsolateSkewx</key>
	<string>radiusInsideContext</string>
	<key>isolateFacadeDuration</key>
	<string>imperativeTextureCenter</string>
	<key>rectJobHue</key>
	<string>semanticsDuringKind</string>
	<key>sizeActivityTheme</key>
	<string>pinchableAnimatedcontainerOffset</string>
	<key>substantialCubitTint</key>
	<string>gesturedetectorBridgeResponse</string>
	<key>tableExceptFacade</key>
	<string>durationAgainstMemento</string>
	<key>tweenBesideOperation</key>
	<string>intuitiveCallbackHue</string>
</dict>
</plist>
