<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAroundLayer</key>
	<string>interactiveContainerInset</string>
	<key>checkboxWithActivity</key>
	<string>deferredBufferTail</string>
	<key>controllerFacadeOpacity</key>
	<string>resultProcessCenter</string>
	<key>displayableIntegerTension</key>
	<string>compositionalTextCenter</string>
	<key>intensityInterpreterAcceleration</key>
	<string>getxTypeDelay</string>
	<key>interfaceThanWork</key>
	<string>gestureSinceMethod</string>
	<key>intermediateMethodPadding</key>
	<string>nativeWidgetPadding</string>
	<key>queryInterpreterCoord</key>
	<string>spineOrMemento</string>
	<key>smartViewInset</key>
	<string>concreteTitleTheme</string>
</dict>
</plist>
