<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredFrameRight</key>
	<string>injectionWorkContrast</string>
	<key>equipmentTaskAppearance</key>
	<string>capsuleContainStructure</string>
	<key>radiusDuringVisitor</key>
	<string>spotForFacade</string>
	<key>titleBufferInteraction</key>
	<string>requiredDurationType</string>
</dict>
</plist>
