<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateFromVariable</key>
	<string>backwardCoordinatorTag</string>
	<key>delicateSceneSaturation</key>
	<string>gridOutsideVar</string>
	<key>desktopRouteDistance</key>
	<string>lostGrainBottom</string>
	<key>displayableInterpolationResponse</key>
	<string>metadataValueBound</string>
	<key>exponentOfBuffer</key>
	<string>usecaseWorkDirection</string>
	<key>futureStrategyCount</key>
	<string>independentAllocatorVisible</string>
	<key>pageviewAlongMethod</key>
	<string>deferredSampleSaturation</string>
	<key>pivotalLayoutMode</key>
	<string>desktopLabelInset</string>
	<key>requestBridgeSpeed</key>
	<string>mobileRouteTransparency</string>
	<key>sinkActivityColor</key>
	<string>scaleCompositePadding</string>
</dict>
</plist>
