<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioFormStatus</key>
	<string>curveParamColor</string>
	<key>cubitShapeAcceleration</key>
	<string>crucialPlateHead</string>
	<key>finalDialogsLeft</key>
	<string>usecaseSinceChain</string>
	<key>hierarchicalShaderShape</key>
	<string>granularLayoutDistance</string>
	<key>imperativeTechniqueMargin</key>
	<string>pivotalNodeStyle</string>
	<key>metadataAtVar</key>
	<string>aspectPlatformSize</string>
	<key>referenceFromForm</key>
	<string>batchEnvironmentOrientation</string>
	<key>resolverViaScope</key>
	<string>factoryVarInset</string>
	<key>shaderSinceKind</key>
	<string>featureAwayVariable</string>
	<key>synchronousTitleAcceleration</key>
	<string>columnVersusVariable</string>
</dict>
</plist>
