<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelByCommand</key>
	<string>behaviorParamDensity</string>
	<key>commandByJob</key>
	<string>isolateShapeEdge</string>
	<key>decorationOfMode</key>
	<string>coordinatorPerStage</string>
	<key>inactiveRouteCoord</key>
	<string>independentDocumentMode</string>
	<key>particleThanObserver</key>
	<string>mainDimensionTint</string>
	<key>viewFrameworkDensity</key>
	<string>mutableBinaryLeft</string>
</dict>
</plist>
