<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDurationTail</key>
	<string>diffableLogarithmTheme</string>
	<key>awaitUntilFlyweight</key>
	<string>awaitAgainstOperation</string>
	<key>customMomentumName</key>
	<string>sharedTickerRotation</string>
	<key>ignoredCommandSize</key>
	<string>displayableNotificationAppearance</string>
	<key>iterativeRichtextFlags</key>
	<string>cacheOrDecorator</string>
	<key>localSpecifierLeft</key>
	<string>interactorWithoutVisitor</string>
	<key>stackStructureIndex</key>
	<string>assetAgainstActivity</string>
	<key>uniqueCharacterAcceleration</key>
	<string>optionSinceJob</string>
	<key>zoneInsidePhase</key>
	<string>stepStyleFlags</string>
</dict>
</plist>
