<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteDescriptorTop</key>
	<string>positionLikeTier</string>
	<key>fusedSpotCoord</key>
	<string>commandStateTag</string>
	<key>intensityFlyweightStyle</key>
	<string>compositionBesideOperation</string>
	<key>painterOperationOrientation</key>
	<string>independentViewMargin</string>
	<key>publicChartSpacing</key>
	<string>exponentModeAcceleration</string>
	<key>sustainableWidgetEdge</key>
	<string>chartStateTop</string>
</dict>
</plist>
