<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMethodForce</key>
	<string>imperativeVectorInterval</string>
	<key>aspectPrototypeName</key>
	<string>catalystContainKind</string>
	<key>cellBufferBorder</key>
	<string>cursorStructureState</string>
	<key>certificateInAdapter</key>
	<string>particleKindTransparency</string>
	<key>composableMenuDelay</key>
	<string>descriptionMediatorEdge</string>
	<key>heapPerFlyweight</key>
	<string>requiredCallbackLocation</string>
	<key>injectionDecoratorTail</key>
	<string>referenceOutsideCycle</string>
	<key>metadataChainVelocity</key>
	<string>profileMethodSpeed</string>
	<key>positionFlyweightShade</key>
	<string>invisibleInteractorInset</string>
	<key>specifyBulletInterval</key>
	<string>scaleInterpreterColor</string>
</dict>
</plist>
