<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFrameworkSkewx</key>
	<string>bulletDespiteCycle</string>
	<key>builderAmongMediator</key>
	<string>cupertinoBesideDecorator</string>
	<key>curveInMethod</key>
	<string>priorRichtextSpeed</string>
	<key>effectTierContrast</key>
	<string>numericalChecklistDistance</string>
	<key>fixedResponseCount</key>
	<string>capacitiesAndEnvironment</string>
	<key>ignoredTextfieldOrientation</key>
	<string>widgetActivitySize</string>
	<key>rapidResultShade</key>
	<string>providerCycleDuration</string>
	<key>relationalLayoutSkewx</key>
	<string>coordinatorModeSkewy</string>
	<key>usedProjectionTint</key>
	<string>decorationScopeTop</string>
</dict>
</plist>
