<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFormMode</key>
	<string>dependencyBesideTask</string>
	<key>desktopContainerStyle</key>
	<string>builderAdapterAppearance</string>
	<key>graphAndStrategy</key>
	<string>nibWithoutTemple</string>
	<key>invisibleBoxshadowDuration</key>
	<string>storageUntilTask</string>
	<key>mobileFunctionBound</key>
	<string>subscriptionWithBuffer</string>
	<key>temporaryPresenterTension</key>
	<string>rectAwayInterpreter</string>
</dict>
</plist>
