<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easySampleState</key>
	<string>diffableTouchTag</string>
	<key>layerProxyDelay</key>
	<string>documentFrameworkFrequency</string>
	<key>mediocreAlignmentFlags</key>
	<string>pinchableCapsuleDuration</string>
	<key>normalBufferSkewx</key>
	<string>usageInsideJob</string>
	<key>positionChainTail</key>
	<string>routeWithoutFlyweight</string>
</dict>
</plist>
