<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertStrategyLocation</key>
	<string>storyboardDuringEnvironment</string>
	<key>channelsAboutType</key>
	<string>isolateTierOrientation</string>
	<key>comprehensiveBuilderFlags</key>
	<string>basicFutureDepth</string>
	<key>containerIncludeChain</key>
	<string>rapidBatchTension</string>
	<key>dynamicGridSkewx</key>
	<string>tweenProxyRotation</string>
	<key>greatManagerDelay</key>
	<string>queuePerPhase</string>
	<key>mobileRadioName</key>
	<string>dialogsSingletonOrientation</string>
	<key>prevInkwellDirection</key>
	<string>channelVariableTint</string>
	<key>staticDescriptionKind</key>
	<string>presenterBeyondObserver</string>
</dict>
</plist>
