<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBufferFrequency</key>
	<string>transitionInterpreterType</string>
	<key>ephemeralDependencyFlags</key>
	<string>nibBesideLayer</string>
	<key>isolateSingletonLeft</key>
	<string>diversifiedInteractorHead</string>
	<key>scaffoldSingletonEdge</key>
	<string>unaryVariableBound</string>
</dict>
</plist>
