<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAllocatorTail</key>
	<string>brushAndMediator</string>
	<key>columnIncludeVar</key>
	<string>normalInterfaceVisible</string>
	<key>composableSwitchShade</key>
	<string>pivotalHeapDistance</string>
	<key>explicitListenerColor</key>
	<string>controllerOrStyle</string>
	<key>numericalTangentBound</key>
	<string>mainTaskFrequency</string>
	<key>scrollFacadeShape</key>
	<string>textfieldScopeDelay</string>
	<key>stackEnvironmentSkewx</key>
	<string>bufferKindBound</string>
</dict>
</plist>
