<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAroundParameter</key>
	<string>dependencyViaPattern</string>
	<key>chapterPrototypeShade</key>
	<string>spriteModeTag</string>
	<key>composableGraphicCenter</key>
	<string>commonKernelShape</string>
	<key>euclideanSpotBrightness</key>
	<string>semanticMethodVisibility</string>
	<key>getxJobType</key>
	<string>eventFromChain</string>
	<key>liteToolScale</key>
	<string>explicitProviderKind</string>
	<key>observerDespiteFunction</key>
	<string>protectedPreviewFeedback</string>
	<key>originalSkirtTint</key>
	<string>entropyActionMomentum</string>
	<key>smallChapterEdge</key>
	<string>displayableLayoutVisible</string>
	<key>spotAmongMediator</key>
	<string>specifyLayerRight</string>
</dict>
</plist>
