<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFormDensity</key>
	<string>threadLayerDirection</string>
	<key>matrixStrategyScale</key>
	<string>commonProtocolSaturation</string>
	<key>prevSceneEdge</key>
	<string>titleAdapterInset</string>
	<key>providerPlatformPadding</key>
	<string>inheritedBlocOpacity</string>
	<key>responseCommandAcceleration</key>
	<string>tweenMediatorType</string>
	<key>routerNearPattern</key>
	<string>usedBaselineVisible</string>
</dict>
</plist>
