<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewWorkBottom</key>
	<string>significantPresenterTheme</string>
	<key>interfaceForBridge</key>
	<string>exceptionFunctionAcceleration</string>
	<key>isolateStrategyShape</key>
	<string>radioWithPlatform</string>
	<key>loopPhaseAcceleration</key>
	<string>substantialIsolateDelay</string>
	<key>notificationParameterFormat</key>
	<string>robustBoxInterval</string>
	<key>ternaryDecoratorOpacity</key>
	<string>nodePhaseVisible</string>
</dict>
</plist>
