<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDescriptionHue</key>
	<string>storageFrameworkHead</string>
	<key>reducerOrFunction</key>
	<string>chartInsideTemple</string>
	<key>resultForPlatform</key>
	<string>storyboardOperationBorder</string>
	<key>statefulWithoutTier</key>
	<string>asyncCurvePressure</string>
	<key>visibleCubitResponse</key>
	<string>originalFeatureFlags</string>
</dict>
</plist>
