<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystDecoratorName</key>
	<string>spotWithoutParam</string>
	<key>nativeChapterDepth</key>
	<string>significantSubscriptionSkewx</string>
	<key>publicPaddingLeft</key>
	<string>diversifiedToolPadding</string>
	<key>subpixelInsideProxy</key>
	<string>disabledRiverpodFlags</string>
</dict>
</plist>
