<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerSingletonRight</key>
	<string>logPlatformFormat</string>
	<key>eagerTechniqueAlignment</key>
	<string>dynamicRouteTheme</string>
	<key>opaqueTaskPadding</key>
	<string>alphaBeyondMediator</string>
	<key>sizeAmongPrototype</key>
	<string>storeProxyOrigin</string>
	<key>spriteNearAdapter</key>
	<string>asyncDocumentCount</string>
	<key>taskAtMediator</key>
	<string>textStructureBrightness</string>
	<key>viewFrameworkName</key>
	<string>animatedCellCoord</string>
</dict>
</plist>
