<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineDecoratorVelocity</key>
	<string>aspectratioStrategyMargin</string>
	<key>blocAndShape</key>
	<string>gridOrEnvironment</string>
	<key>flexInterpreterDensity</key>
	<string>catalystVariableForce</string>
	<key>rowFormStyle</key>
	<string>dependencyOutsidePlatform</string>
	<key>tabviewTaskInset</key>
	<string>responseSinceBridge</string>
	<key>techniqueWithJob</key>
	<string>delegateFrameworkCoord</string>
	<key>temporaryImageState</key>
	<string>crucialNotificationCenter</string>
</dict>
</plist>
