<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTickerTension</key>
	<string>listenerFacadeMomentum</string>
	<key>commonChapterTint</key>
	<string>sineStageSpeed</string>
	<key>intensityContainProxy</key>
	<string>activityAndKind</string>
	<key>nodeUntilVariable</key>
	<string>diversifiedCompleterState</string>
	<key>rowStyleOrientation</key>
	<string>presenterBridgeTag</string>
	<key>scaffoldFrameworkLocation</key>
	<string>consultativeTickerBehavior</string>
	<key>slashCycleMargin</key>
	<string>graphicProxyRate</string>
	<key>ternaryMethodStatus</key>
	<string>difficultChapterTail</string>
</dict>
</plist>
