<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAtContext</key>
	<string>kernelBufferTint</string>
	<key>deferredGrayscaleLeft</key>
	<string>gestureMementoMomentum</string>
	<key>gradientLikeChain</key>
	<string>seamlessPromiseMargin</string>
	<key>referenceContextBrightness</key>
	<string>curveDecoratorLocation</string>
	<key>smallBufferOpacity</key>
	<string>matrixWithVisitor</string>
</dict>
</plist>
