<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDescriptorFormat</key>
	<string>streamFlyweightBottom</string>
	<key>backwardZoneCount</key>
	<string>fusedSizeHead</string>
	<key>constScreenFormat</key>
	<string>mutableLayoutVelocity</string>
	<key>consultativeTextfieldTheme</key>
	<string>transformerBeyondFlyweight</string>
	<key>layoutAtState</key>
	<string>capacitiesChainRotation</string>
	<key>projectionAgainstProxy</key>
	<string>signatureProcessLeft</string>
</dict>
</plist>
