<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticTextMargin</key>
	<string>nodeForLayer</string>
	<key>exceptionNearPattern</key>
	<string>transformerNumberCoord</string>
	<key>presenterPlatformDistance</key>
	<string>entropyThroughValue</string>
	<key>timerDecoratorDirection</key>
	<string>desktopWidgetVisibility</string>
</dict>
</plist>
