<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionPerActivity</key>
	<string>layoutFromAdapter</string>
	<key>functionalNavigatorDelay</key>
	<string>decorationViaLayer</string>
	<key>notificationKindOffset</key>
	<string>widgetFormTag</string>
	<key>reactiveRemainderResponse</key>
	<string>eventIncludeOperation</string>
	<key>taskAlongEnvironment</key>
	<string>particleBesidePlatform</string>
	<key>vectorVarState</key>
	<string>buttonIncludeLayer</string>
</dict>
</plist>
