<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureChainContrast</key>
	<string>vectorThroughMode</string>
	<key>decorationAmongValue</key>
	<string>subsequentCharacterMode</string>
	<key>ephemeralTextTension</key>
	<string>reactiveCompositionRight</string>
	<key>heroPhaseTail</key>
	<string>semanticHashDelay</string>
	<key>semanticZoneVisible</key>
	<string>multiServiceBehavior</string>
	<key>slashChainInterval</key>
	<string>localLayoutShape</string>
	<key>spineSingletonValidation</key>
	<string>entityAwayProxy</string>
	<key>storeAroundSingleton</key>
	<string>zoneMethodOrientation</string>
	<key>viewVisitorVelocity</key>
	<string>stampInterpreterAlignment</string>
</dict>
</plist>
