<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledServiceRotation</key>
	<string>effectViaComposite</string>
	<key>globalSubscriptionHue</key>
	<string>similarSkirtValidation</string>
	<key>methodAgainstTemple</key>
	<string>directlyMapSpeed</string>
	<key>unactivatedCardSaturation</key>
	<string>unactivatedTouchStatus</string>
	<key>webLayoutVisible</key>
	<string>groupViaParameter</string>
</dict>
</plist>
