<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedListviewDepth</key>
	<string>cartesianChannelKind</string>
	<key>sampleAtBuffer</key>
	<string>expandedAroundTemple</string>
	<key>utilAwayFacade</key>
	<string>actionThanPrototype</string>
</dict>
</plist>
