<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerBufferFrequency</key>
	<string>draggablePointSpacing</string>
	<key>mediocreFragmentSpeed</key>
	<string>mapPatternShape</string>
	<key>offsetJobSpacing</key>
	<string>discardedInjectionSpacing</string>
	<key>zoneExceptBuffer</key>
	<string>completionAtContext</string>
</dict>
</plist>
