<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetActivityStatus</key>
	<string>optionExceptVariable</string>
	<key>diversifiedOffsetTail</key>
	<string>synchronousDialogsBorder</string>
	<key>equalizationSingletonLocation</key>
	<string>getxUntilMethod</string>
	<key>loopVariableBottom</key>
	<string>coordinatorStructureInset</string>
	<key>projectForContext</key>
	<string>publicHashDepth</string>
</dict>
</plist>
