<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerContainPattern</key>
	<string>semanticCursorContrast</string>
	<key>iterativeRouterName</key>
	<string>materialTransitionMomentum</string>
	<key>labelVariableVisible</key>
	<string>eagerNormColor</string>
	<key>mediaqueryAtActivity</key>
	<string>cartesianActionContrast</string>
	<key>referenceNearStyle</key>
	<string>streamActivityColor</string>
	<key>sophisticatedLossOrientation</key>
	<string>layerFacadeTop</string>
	<key>statefulContextDepth</key>
	<string>controllerParamShade</string>
	<key>temporaryMaterialStatus</key>
	<string>alignmentBesideStyle</string>
	<key>unactivatedLogarithmSize</key>
	<string>sceneScopeVisible</string>
</dict>
</plist>
