<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerLikeOperation</key>
	<string>providerForNumber</string>
	<key>hardFrameSpacing</key>
	<string>screenByInterpreter</string>
	<key>injectionWithFunction</key>
	<string>segmentAlongDecorator</string>
	<key>mediumDecorationMomentum</key>
	<string>grainOfObserver</string>
	<key>missionUntilSingleton</key>
	<string>menuAndComposite</string>
	<key>pageviewForStructure</key>
	<string>eventByType</string>
	<key>projectionCompositeDelay</key>
	<string>richtextInStrategy</string>
</dict>
</plist>
