<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFacadeLeft</key>
	<string>numericalSceneDepth</string>
	<key>channelsEnvironmentOrientation</key>
	<string>pageviewIncludeObserver</string>
	<key>providerObserverCenter</key>
	<string>stackTempleSize</string>
	<key>subscriptionAlongComposite</key>
	<string>missedGesturedetectorInteraction</string>
</dict>
</plist>
