<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentUntilInterpreter</key>
	<string>denseSpriteSaturation</string>
	<key>binaryAdapterRotation</key>
	<string>enabledGraphVisibility</string>
	<key>flexUntilMode</key>
	<string>denseMetadataShade</string>
	<key>groupParameterAppearance</key>
	<string>zoneUntilParam</string>
	<key>taskMediatorCenter</key>
	<string>finalLabelPosition</string>
	<key>tickerDecoratorTheme</key>
	<string>reducerStatePosition</string>
	<key>tweenContainFlyweight</key>
	<string>secondChartTint</string>
</dict>
</plist>
