<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderCommandDirection</key>
	<string>cupertinoByParam</string>
	<key>capacitiesTypePressure</key>
	<string>rowOrProcess</string>
	<key>instructionVersusTask</key>
	<string>zoneNearProxy</string>
	<key>mainTextfieldPressure</key>
	<string>textPlatformSpeed</string>
	<key>permanentCycleOffset</key>
	<string>intermediateOptimizerDepth</string>
	<key>resultExceptAdapter</key>
	<string>intensityMethodBound</string>
	<key>shaderChainFlags</key>
	<string>decorationIncludeDecorator</string>
	<key>variantIncludeFlyweight</key>
	<string>viewBufferCount</string>
</dict>
</plist>
