<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constOffsetInterval</key>
	<string>chapterAboutParameter</string>
	<key>diversifiedCubitStyle</key>
	<string>optionStateFormat</string>
	<key>documentOfPhase</key>
	<string>semanticTableVisible</string>
	<key>hashCycleCount</key>
	<string>routeTypeBound</string>
	<key>mobileActionBorder</key>
	<string>resolverViaStage</string>
	<key>repositoryOrEnvironment</key>
	<string>oldListenerFormat</string>
	<key>sequentialResponseBottom</key>
	<string>resilientSensorScale</string>
</dict>
</plist>
