<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layerMethodOffset</key>
	<string>normForComposite</string>
	<key>opaqueAlertRate</key>
	<string>axisShapeContrast</string>
	<key>resolverAroundKind</key>
	<string>hyperbolicMemberValidation</string>
	<key>responseParamResponse</key>
	<string>gradientFromWork</string>
	<key>statefulOrProcess</key>
	<string>allocatorIncludePhase</string>
	<key>storageActivityBorder</key>
	<string>queryCommandDensity</string>
</dict>
</plist>
