<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseMethodRate</key>
	<string>priorityInsidePrototype</string>
	<key>baselineInsideNumber</key>
	<string>widgetNumberTension</string>
	<key>checklistAroundAdapter</key>
	<string>particleActivityPressure</string>
	<key>intensityJobBottom</key>
	<string>gradientOutsideBridge</string>
	<key>radioCompositeVisibility</key>
	<string>gridviewPlatformFormat</string>
	<key>semanticButtonTint</key>
	<string>frameOfPlatform</string>
	<key>sensorOfMode</key>
	<string>intensityShapeRotation</string>
	<key>spotAgainstNumber</key>
	<string>cycleObserverTop</string>
	<key>typicalPaddingOrientation</key>
	<string>visibleCurveLocation</string>
</dict>
</plist>
