<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationOutsideBridge</key>
	<string>instructionDuringTier</string>
	<key>equalizationExceptVar</key>
	<string>functionalVectorBrightness</string>
	<key>gemAndBuffer</key>
	<string>materialOutsidePattern</string>
	<key>intermediateEntityTag</key>
	<string>usecaseLikeForm</string>
</dict>
</plist>
