<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateCommandDepth</key>
	<string>instructionContainType</string>
	<key>granularShaderSpeed</key>
	<string>crucialChapterTension</string>
	<key>rectBridgeHead</key>
	<string>resilientMomentumTop</string>
	<key>storyboardVarDuration</key>
	<string>sortedBinarySpacing</string>
	<key>variantFlyweightRight</key>
	<string>optimizerAboutInterpreter</string>
</dict>
</plist>
