<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAboutSingleton</key>
	<string>borderAwayCommand</string>
	<key>particleTempleInterval</key>
	<string>routerShapeOpacity</string>
	<key>queryStageFormat</key>
	<string>positionAroundScope</string>
	<key>referenceAndLayer</key>
	<string>metadataThanPhase</string>
	<key>sessionViaNumber</key>
	<string>visibleNavigatorSaturation</string>
</dict>
</plist>
