<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioViaWork</key>
	<string>durationNearScope</string>
	<key>containerOutsideOperation</key>
	<string>managerBufferBehavior</string>
	<key>hierarchicalExtensionRight</key>
	<string>modelStyleShade</string>
	<key>mapStageCount</key>
	<string>publicQueueDistance</string>
	<key>standaloneConstraintMomentum</key>
	<string>viewAroundFunction</string>
	<key>tickerVersusActivity</key>
	<string>localAnimationRight</string>
</dict>
</plist>
