<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryStrategyInteraction</key>
	<string>invisibleBoxshadowDistance</string>
	<key>dynamicModalDensity</key>
	<string>chapterNearSingleton</string>
	<key>pageviewDecoratorResponse</key>
	<string>builderSinceFlyweight</string>
	<key>semanticSpotFeedback</key>
	<string>discardedRadiusTheme</string>
	<key>spotPerChain</key>
	<string>prismaticPromiseMode</string>
	<key>tickerInParam</key>
	<string>usageDespiteTask</string>
	<key>variantOutsideInterpreter</key>
	<string>directlyOffsetTag</string>
</dict>
</plist>
