<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStyleOrigin</key>
	<string>respectiveRowColor</string>
	<key>boxshadowAndInterpreter</key>
	<string>gridThroughFacade</string>
	<key>futureLevelFrequency</key>
	<string>descriptorExceptShape</string>
	<key>radioSingletonFrequency</key>
	<string>signatureAtJob</string>
	<key>sinkViaParam</key>
	<string>signExceptInterpreter</string>
	<key>sizedboxThanTemple</key>
	<string>customizedOptionScale</string>
	<key>uniqueActionVelocity</key>
	<string>basicGradientDensity</string>
</dict>
</plist>
