<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedOptionTag</key>
	<string>parallelIsolateMomentum</string>
	<key>directlyPreviewBottom</key>
	<string>keyRouteBound</string>
	<key>exponentVersusActivity</key>
	<string>materialInterfaceDelay</string>
	<key>mediumTransformerHue</key>
	<string>petScopeTension</string>
	<key>respectiveRequestFeedback</key>
	<string>gridviewThanEnvironment</string>
	<key>smartStepSkewx</key>
	<string>tensorStatefulIndex</string>
	<key>usageProxyFrequency</key>
	<string>usageInsideObserver</string>
	<key>viewNearInterpreter</key>
	<string>cartesianCurveBrightness</string>
</dict>
</plist>
