<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOrPlatform</key>
	<string>nativePointOffset</string>
	<key>gridContainPattern</key>
	<string>autoOverlayDistance</string>
	<key>hierarchicalMapCount</key>
	<string>missionThanMemento</string>
	<key>lostInjectionVelocity</key>
	<string>queryEnvironmentDepth</string>
	<key>mobileDocumentIndex</key>
	<string>visibleRouteMode</string>
	<key>referenceStrategyCenter</key>
	<string>paddingTypeMomentum</string>
	<key>rowActivityScale</key>
	<string>effectInsideStructure</string>
	<key>signatureInterpreterTag</key>
	<string>menuFacadeBorder</string>
	<key>stateCycleTag</key>
	<string>axisStructureScale</string>
</dict>
</plist>
