<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCurveFrequency</key>
	<string>standaloneProviderInterval</string>
	<key>injectionStyleHue</key>
	<string>sinkStructureVelocity</string>
	<key>marginParameterDuration</key>
	<string>localFlexFormat</string>
	<key>skinFacadeInteraction</key>
	<string>grainStageBound</string>
	<key>timerAgainstSystem</key>
	<string>controllerProxyState</string>
</dict>
</plist>
