<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteViewHead</key>
	<string>statefulTextfieldTint</string>
	<key>flexSingletonResponse</key>
	<string>publicExceptionInset</string>
	<key>gridWorkHead</key>
	<string>descriptionWithoutState</string>
	<key>interfaceBeyondState</key>
	<string>mediaqueryAgainstMemento</string>
	<key>modulusIncludeContext</key>
	<string>controllerAboutProxy</string>
	<key>optionUntilBuffer</key>
	<string>descriptionDespitePrototype</string>
	<key>tensorCoordinatorDirection</key>
	<string>getxPerWork</string>
	<key>widgetTempleSpacing</key>
	<string>optionDuringMediator</string>
</dict>
</plist>
