<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticBlocDistance</key>
	<string>entropyChainTint</string>
	<key>observerProcessPosition</key>
	<string>accessibleNotificationDirection</string>
	<key>paddingCycleForce</key>
	<string>pointFromSystem</string>
</dict>
</plist>
