<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerChainShape</key>
	<string>activePositionContrast</string>
	<key>elasticGridviewCount</key>
	<string>unsortedTechniqueFlags</string>
	<key>relationalConstraintVelocity</key>
	<string>durationOfTemple</string>
	<key>robustTransformerStyle</key>
	<string>singleTableLeft</string>
	<key>scrollableSingletonAlignment</key>
	<string>operationActivityForce</string>
</dict>
</plist>
