<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameScopeDelay</key>
	<string>symbolDuringActivity</string>
	<key>gridInTask</key>
	<string>tappableGroupColor</string>
	<key>intermediateAspectratioSpeed</key>
	<string>asynchronousActivityContrast</string>
	<key>modelTaskKind</key>
	<string>autoObserverTransparency</string>
	<key>pivotalAnimationBehavior</key>
	<string>painterNearFacade</string>
	<key>retainedModalAlignment</key>
	<string>scrollFrameworkInteraction</string>
	<key>robustInterfaceTail</key>
	<string>requiredCurveShade</string>
	<key>tableObserverTransparency</key>
	<string>routePhaseShape</string>
	<key>taskIncludeProcess</key>
	<string>localizationSingletonDelay</string>
	<key>usecaseParameterColor</key>
	<string>asynchronousSubpixelTail</string>
</dict>
</plist>
