<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRepositoryTension</key>
	<string>disabledSizeDirection</string>
	<key>elasticTransitionTension</key>
	<string>kernelObserverSkewy</string>
	<key>explicitVariantLocation</key>
	<string>switchMediatorDepth</string>
	<key>matrixOrInterpreter</key>
	<string>animationMementoVelocity</string>
	<key>navigatorInSingleton</key>
	<string>metadataOfScope</string>
</dict>
</plist>
