<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateContainStructure</key>
	<string>constraintThroughPlatform</string>
	<key>intermediateBuilderOffset</key>
	<string>factoryThanParam</string>
	<key>layerTypeResponse</key>
	<string>similarDelegateInteraction</string>
	<key>menuCommandInset</key>
	<string>sineInVar</string>
	<key>movementViaBuffer</key>
	<string>richtextStructureIndex</string>
	<key>stepContainCycle</key>
	<string>mobxSinceBridge</string>
	<key>textfieldFunctionMomentum</key>
	<string>particleAtBridge</string>
	<key>viewBesideState</key>
	<string>segueTaskStatus</string>
</dict>
</plist>
