<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateDurationEdge</key>
	<string>methodIncludePlatform</string>
	<key>similarDurationTension</key>
	<string>marginInProcess</string>
	<key>storageStateTint</key>
	<string>sessionFormDuration</string>
</dict>
</plist>
