<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedPresenterDistance</key>
	<string>dependencyAwaySingleton</string>
	<key>methodSinceForm</key>
	<string>desktopDecorationSaturation</string>
	<key>particleDuringForm</key>
	<string>declarativeContractionOpacity</string>
	<key>skirtCompositeHead</key>
	<string>smallPopupResponse</string>
	<key>textThanFunction</key>
	<string>arithmeticLocalizationSpacing</string>
</dict>
</plist>
