<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionLayoutSkewx</key>
	<string>widgetDuringCommand</string>
	<key>binaryWorkRight</key>
	<string>logJobForce</string>
	<key>controllerInWork</key>
	<string>streamTempleMode</string>
	<key>navigationViaStructure</key>
	<string>unsortedAsyncEdge</string>
	<key>reusableStorageRate</key>
	<string>commandBeyondKind</string>
	<key>standaloneCompletionLocation</key>
	<string>bulletInsideLevel</string>
	<key>stateWithLayer</key>
	<string>bitrateFrameworkTag</string>
	<key>topicAboutBuffer</key>
	<string>unaryAgainstStrategy</string>
	<key>unaryFacadeSaturation</key>
	<string>requestContainVisitor</string>
</dict>
</plist>
