<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedVectorCount</key>
	<string>flexibleCubitHead</string>
	<key>apertureNearForm</key>
	<string>transitionValueBehavior</string>
	<key>commandStageMargin</key>
	<string>navigatorVisitorSpacing</string>
	<key>constTangentDepth</key>
	<string>projectionCommandInset</string>
	<key>directBuilderResponse</key>
	<string>factoryLevelTension</string>
	<key>interactorBridgeBorder</key>
	<string>effectWithoutFacade</string>
	<key>pivotalChannelsOpacity</key>
	<string>stampOperationDistance</string>
	<key>reusableMobileDuration</key>
	<string>groupObserverRate</string>
	<key>transformerWithWork</key>
	<string>globalChannelCoord</string>
</dict>
</plist>
