<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityParamSkewx</key>
	<string>displayableGridBehavior</string>
	<key>basicMenuBorder</key>
	<string>denseSubpixelDepth</string>
	<key>chapterAmongState</key>
	<string>mobxTierMargin</string>
	<key>entityAlongLevel</key>
	<string>sinkStateDensity</string>
	<key>fixedCustompaintTail</key>
	<string>histogramNumberStyle</string>
	<key>loopAboutScope</key>
	<string>intensityFlyweightSkewx</string>
	<key>mapObserverDensity</key>
	<string>documentSingletonAppearance</string>
	<key>navigatorInsideAction</key>
	<string>heapStyleDistance</string>
	<key>prismaticZoneSkewx</key>
	<string>featureInsideScope</string>
	<key>protectedCurveValidation</key>
	<string>timerParameterPosition</string>
</dict>
</plist>
