<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitThroughFramework</key>
	<string>secondSpinePadding</string>
	<key>descriptorDuringJob</key>
	<string>resultThroughFunction</string>
	<key>gemAboutParameter</key>
	<string>mainTaskKind</string>
	<key>interactorObserverAcceleration</key>
	<string>collectionBridgeFeedback</string>
	<key>mobxMethodTail</key>
	<string>elasticStampTint</string>
	<key>nativeMenuSpacing</key>
	<string>taskAgainstBuffer</string>
	<key>roleLikeSystem</key>
	<string>mediocreBuilderDistance</string>
	<key>storyboardAgainstContext</key>
	<string>gridviewWithPlatform</string>
	<key>vectorUntilMethod</key>
	<string>graphPhaseColor</string>
</dict>
</plist>
