<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFacadeRate</key>
	<string>metadataTaskStatus</string>
	<key>diversifiedSkinForce</key>
	<string>normalExtensionTheme</string>
	<key>liteVectorAcceleration</key>
	<string>cubeObserverTransparency</string>
	<key>observerActionMode</key>
	<string>operationWithoutShape</string>
	<key>robustPlateBehavior</key>
	<string>dependencyAmongVisitor</string>
</dict>
</plist>
