<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicHandlerColor</key>
	<string>checkboxTempleTransparency</string>
	<key>denseDecorationVisibility</key>
	<string>priorMissionBrightness</string>
	<key>euclideanTextureEdge</key>
	<string>aspectratioNumberSpacing</string>
	<key>gateAsShape</key>
	<string>fixedRepositoryFormat</string>
	<key>prismaticCurveAlignment</key>
	<string>mediumBaseColor</string>
</dict>
</plist>
