<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAtStrategy</key>
	<string>agileDecorationInset</string>
	<key>desktopRouterBottom</key>
	<string>materialPlatformSpeed</string>
	<key>iterativePresenterIndex</key>
	<string>routerMediatorBehavior</string>
	<key>mapCompositeScale</key>
	<string>concreteProfileKind</string>
	<key>missionStyleSkewy</key>
	<string>singlePainterEdge</string>
	<key>parallelContainerMode</key>
	<string>timerScopeSpacing</string>
	<key>priorityEnvironmentResponse</key>
	<string>symmetricCompositionInterval</string>
	<key>reusableUtilVelocity</key>
	<string>customTransitionType</string>
	<key>stepAboutAdapter</key>
	<string>rectWithoutContext</string>
	<key>usecaseInScope</key>
	<string>dependencyThanComposite</string>
</dict>
</plist>
