<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStructureCoord</key>
	<string>cardAboutBuffer</string>
	<key>fragmentObserverTheme</key>
	<string>managerFormMargin</string>
	<key>integerActionContrast</key>
	<string>smallPositionAcceleration</string>
	<key>permanentConfigurationSize</key>
	<string>asyncBesidePlatform</string>
	<key>spriteWorkContrast</key>
	<string>reducerEnvironmentName</string>
	<key>staticNavigatorSaturation</key>
	<string>largeDecorationPadding</string>
	<key>streamPerStage</key>
	<string>lossActionSpeed</string>
	<key>subpixelAndValue</key>
	<string>checkboxTierBound</string>
	<key>tabbarVersusNumber</key>
	<string>transformerStructureInterval</string>
	<key>textureWithoutMemento</key>
	<string>chapterProxyInterval</string>
</dict>
</plist>
