<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateViaKind</key>
	<string>tweenWithoutProxy</string>
	<key>descriptionKindName</key>
	<string>providerProxyColor</string>
	<key>finalNibAppearance</key>
	<string>crudeMatrixBrightness</string>
	<key>progressbarNumberDuration</key>
	<string>resilientHistogramMargin</string>
	<key>publicIntensitySpeed</key>
	<string>hashPhaseCoord</string>
	<key>substantialBitrateFormat</key>
	<string>subsequentWorkflowStyle</string>
</dict>
</plist>
