<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedConstraintContrast</key>
	<string>fixedControllerVelocity</string>
	<key>constFlexSize</key>
	<string>otherCheckboxStatus</string>
	<key>cubitDespiteMemento</key>
	<string>documentWithFunction</string>
	<key>handlerUntilParameter</key>
	<string>storeProxySize</string>
	<key>histogramCycleValidation</key>
	<string>listenerAwayChain</string>
	<key>interactiveSingletonIndex</key>
	<string>unsortedSemanticsStatus</string>
	<key>taskAwayType</key>
	<string>presenterFlyweightDensity</string>
</dict>
</plist>
