<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSwiftScale</key>
	<string>nativeCosineOffset</string>
	<key>controllerAdapterScale</key>
	<string>hierarchicalConstraintAlignment</string>
	<key>decorationAtVar</key>
	<string>dependencyMementoShade</string>
	<key>decorationFlyweightDelay</key>
	<string>petAroundDecorator</string>
	<key>delegateNearVisitor</key>
	<string>typicalVariantResponse</string>
	<key>directDimensionDistance</key>
	<string>cardFrameworkMode</string>
	<key>navigationSingletonPosition</key>
	<string>musicParamTint</string>
	<key>notificationKindSpeed</key>
	<string>streamFrameworkValidation</string>
	<key>presenterWithoutContext</key>
	<string>normStrategyResponse</string>
	<key>tangentParamDensity</key>
	<string>associatedAssetIndex</string>
</dict>
</plist>
