<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticResourceTransparency</key>
	<string>sizeParamMomentum</string>
	<key>autoCurveCount</key>
	<string>featureOutsideMediator</string>
	<key>channelOperationInset</key>
	<string>interpolationViaFacade</string>
	<key>consultativeRepositorySpeed</key>
	<string>constraintThroughVar</string>
	<key>convolutionMementoTag</key>
	<string>missionDecoratorOffset</string>
	<key>positionSystemDistance</key>
	<string>similarMetadataHue</string>
	<key>roleActivityCoord</key>
	<string>decorationInterpreterDelay</string>
	<key>tensorGroupOrigin</key>
	<string>movementValueSpeed</string>
</dict>
</plist>
