<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSinkDepth</key>
	<string>profilePerPattern</string>
	<key>captionAsVariable</key>
	<string>functionalLayoutOffset</string>
	<key>consultativeConstraintBound</key>
	<string>accordionIndicatorShade</string>
	<key>consumerThanPlatform</key>
	<string>referenceStructureShade</string>
	<key>convolutionOrChain</key>
	<string>statelessIntegerCoord</string>
	<key>documentFromStrategy</key>
	<string>nibActionDensity</string>
	<key>sequentialProjectionLocation</key>
	<string>entityBeyondTask</string>
	<key>statefulIconFrequency</key>
	<string>referenceUntilVar</string>
	<key>statelessMusicDensity</key>
	<string>immutableOffsetAcceleration</string>
	<key>subpixelPerStrategy</key>
	<string>tappableServiceTail</string>
</dict>
</plist>
