<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityPlatformCoord</key>
	<string>semanticsFacadeCoord</string>
	<key>mainBuilderInterval</key>
	<string>movementStrategyKind</string>
	<key>nodeInsideType</key>
	<string>opaqueHashRate</string>
	<key>sampleParameterPadding</key>
	<string>sortedEventCount</string>
	<key>sceneWithoutForm</key>
	<string>featurePhaseVisible</string>
	<key>uniqueUsecaseBound</key>
	<string>themeThroughOperation</string>
</dict>
</plist>
