<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisDecoratorForce</key>
	<string>stepUntilContext</string>
	<key>displayableExceptionTransparency</key>
	<string>resolverBridgePadding</string>
	<key>exceptionAgainstStrategy</key>
	<string>normLikeValue</string>
	<key>histogramViaEnvironment</key>
	<string>certificateAboutEnvironment</string>
	<key>usecaseShapeVelocity</key>
	<string>allocatorInsideFunction</string>
	<key>widgetFormTag</key>
	<string>pivotalApertureMargin</string>
</dict>
</plist>
