<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushCompositeOffset</key>
	<string>activatedSemanticsResponse</string>
	<key>cacheTempleTag</key>
	<string>extensionStructureMomentum</string>
	<key>consultativeGrayscaleContrast</key>
	<string>elasticStoreOpacity</string>
	<key>delicateBaseDepth</key>
	<string>callbackProxyTint</string>
	<key>easyFactoryOpacity</key>
	<string>painterAgainstTier</string>
	<key>nativeParticleVisibility</key>
	<string>featureLevelTheme</string>
	<key>routeOrStyle</key>
	<string>denseAccessoryAppearance</string>
	<key>taskKindBound</key>
	<string>momentumAsOperation</string>
</dict>
</plist>
