<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNavigatorBound</key>
	<string>beginnerLoopCount</string>
	<key>controllerParameterFormat</key>
	<string>routeParamScale</string>
	<key>durationChainScale</key>
	<string>resourceVisitorFrequency</string>
	<key>dynamicMobxBrightness</key>
	<string>sceneMementoTag</string>
	<key>groupChainVisibility</key>
	<string>modelAsLevel</string>
	<key>intuitiveRichtextAppearance</key>
	<string>displayableDelegateCount</string>
	<key>rowAmongActivity</key>
	<string>ephemeralAnimatedcontainerDirection</string>
	<key>staticMediaEdge</key>
	<string>coordinatorUntilMethod</string>
	<key>titleByVar</key>
	<string>materialRadiusHead</string>
	<key>widgetTempleSkewy</key>
	<string>giftContainProcess</string>
</dict>
</plist>
