<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryExceptWork</key>
	<string>constMenuStyle</string>
	<key>adaptiveConstraintMomentum</key>
	<string>drawerForShape</string>
	<key>cupertinoNearDecorator</key>
	<string>interactiveObserverName</string>
	<key>directlyUsecaseOrigin</key>
	<string>axisAmongStructure</string>
	<key>discardedCardMomentum</key>
	<string>substantialPopupTint</string>
	<key>scaffoldTypeAlignment</key>
	<string>reductionAmongStructure</string>
	<key>textOutsideCommand</key>
	<string>usecaseProxyKind</string>
	<key>textureTaskName</key>
	<string>accordionSegueSkewx</string>
	<key>uniformIndicatorPosition</key>
	<string>mutableBlocHead</string>
</dict>
</plist>
