<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInterpreterTag</key>
	<string>priorLayoutMargin</string>
	<key>directSensorIndex</key>
	<string>effectAdapterColor</string>
	<key>enabledTransitionTension</key>
	<string>constraintLikeLayer</string>
	<key>gestureInKind</key>
	<string>transitionAtScope</string>
	<key>otherBuilderRotation</key>
	<string>listenerAlongForm</string>
	<key>positionModeSize</key>
	<string>subscriptionThroughPlatform</string>
	<key>richtextChainDensity</key>
	<string>gridInterpreterType</string>
	<key>segueAsForm</key>
	<string>unactivatedAccessoryPosition</string>
</dict>
</plist>
