<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarThanForm</key>
	<string>variantForBridge</string>
	<key>blocAroundPlatform</key>
	<string>cursorOrSingleton</string>
	<key>capacitiesLevelOrientation</key>
	<string>routeBesideObserver</string>
	<key>durationVariableAcceleration</key>
	<string>tangentBufferFormat</string>
	<key>localizationWithPattern</key>
	<string>routerMediatorContrast</string>
	<key>progressbarStyleLocation</key>
	<string>uniqueCatalystTag</string>
	<key>substantialDescriptorPosition</key>
	<string>channelMethodPadding</string>
	<key>transformerCompositeDensity</key>
	<string>appbarWorkName</string>
</dict>
</plist>
