<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAsSystem</key>
	<string>bitrateSincePhase</string>
	<key>callbackPrototypeInset</key>
	<string>completionJobSaturation</string>
	<key>comprehensiveEqualizationOrientation</key>
	<string>slashCycleType</string>
	<key>customizedReducerBound</key>
	<string>mutableDescriptionSize</string>
	<key>diffableSpriteCount</key>
	<string>dialogsIncludeChain</string>
	<key>featureSystemRight</key>
	<string>originalUsecaseLeft</string>
	<key>indicatorAgainstParam</key>
	<string>managerFromParameter</string>
	<key>marginTaskCoord</key>
	<string>grainExceptVariable</string>
	<key>tickerPerEnvironment</key>
	<string>interactorKindDistance</string>
</dict>
</plist>
