<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintJobInset</key>
	<string>agileSubpixelType</string>
	<key>logLevelMomentum</key>
	<string>errorCycleVelocity</string>
	<key>mapOutsideStage</key>
	<string>roleUntilForm</string>
	<key>nextDecorationDepth</key>
	<string>pageviewForParameter</string>
	<key>promiseObserverMargin</key>
	<string>notificationCommandCenter</string>
	<key>semanticNodeShape</key>
	<string>groupIncludeVisitor</string>
</dict>
</plist>
