<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialVectorPadding</key>
	<string>observerFlyweightAlignment</string>
	<key>managerInPrototype</key>
	<string>switchAndStructure</string>
	<key>momentumStyleFormat</key>
	<string>containerWithoutBuffer</string>
	<key>typicalChannelContrast</key>
	<string>actionOfPhase</string>
</dict>
</plist>
