<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTierRate</key>
	<string>responseStrategyPosition</string>
	<key>displayableRoleLocation</key>
	<string>interactiveScreenAppearance</string>
	<key>modulusOrType</key>
	<string>bufferAtStrategy</string>
	<key>profileLevelDepth</key>
	<string>errorSinceContext</string>
	<key>specifierPerScope</key>
	<string>viewAdapterRotation</string>
	<key>spriteLikeFramework</key>
	<string>semanticCupertinoRight</string>
</dict>
</plist>
