<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPlateOrigin</key>
	<string>navigatorVisitorDepth</string>
	<key>cacheAwayProxy</key>
	<string>spriteVariableType</string>
	<key>controllerTierFrequency</key>
	<string>popupFromKind</string>
	<key>cupertinoEquipmentType</key>
	<string>queryEnvironmentFeedback</string>
	<key>dependencyAroundParameter</key>
	<string>resizableStampName</string>
	<key>subtleGridStyle</key>
	<string>screenCommandAppearance</string>
</dict>
</plist>
