<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicAssetState</key>
	<string>playbackContainPattern</string>
	<key>batchParamDelay</key>
	<string>projectionContextTop</string>
	<key>commandPerInterpreter</key>
	<string>routeInsideVariable</string>
	<key>euclideanGradientMomentum</key>
	<string>eventFunctionDepth</string>
	<key>inactiveQueryCoord</key>
	<string>dependencyFacadeCount</string>
	<key>sharedResponseOffset</key>
	<string>declarativeTitleName</string>
</dict>
</plist>
