<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAdapterBrightness</key>
	<string>prevProtocolEdge</string>
	<key>inactiveMemberFeedback</key>
	<string>checklistAsAction</string>
	<key>layerLayerValidation</key>
	<string>nodeSincePlatform</string>
	<key>mediaValueOrientation</key>
	<string>queryThanParameter</string>
	<key>mediaqueryJobOrigin</key>
	<string>routeShapeDepth</string>
	<key>optionAgainstMode</key>
	<string>cupertinoTextureHead</string>
	<key>prevSignatureCenter</key>
	<string>cachePrototypeDelay</string>
	<key>streamFunctionDistance</key>
	<string>remainderPerTier</string>
</dict>
</plist>
