<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedExceptionOffset</key>
	<string>blocParameterResponse</string>
	<key>associatedApertureForce</key>
	<string>displayableSessionDelay</string>
	<key>builderFacadeMargin</key>
	<string>threadTierVisibility</string>
	<key>fixedMomentumColor</key>
	<string>immediateProjectionBorder</string>
	<key>interfaceAtBuffer</key>
	<string>transitionThanStructure</string>
	<key>intermediateIntegerSaturation</key>
	<string>progressbarInsideSystem</string>
	<key>opaqueModelTint</key>
	<string>semanticsJobDirection</string>
	<key>spineDespiteMode</key>
	<string>layerAroundProxy</string>
</dict>
</plist>
