<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicOutsideProcess</key>
	<string>coordinatorOperationRotation</string>
	<key>labelMediatorTop</key>
	<string>prismaticDialogsBorder</string>
	<key>specifierProcessHue</key>
	<string>texturePerDecorator</string>
	<key>uniqueSymbolDirection</key>
	<string>cosineAndPattern</string>
	<key>zoneSinceVar</key>
	<string>referenceWithoutMemento</string>
</dict>
</plist>
