<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logarithmSystemAlignment</key>
	<string>checklistContainPattern</string>
	<key>materialHistogramRotation</key>
	<string>repositoryNearState</string>
	<key>priorWidgetFormat</key>
	<string>normalAssetDelay</string>
	<key>routeBesidePrototype</key>
	<string>spriteValueFrequency</string>
</dict>
</plist>
