<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedChallengeSpacing</key>
	<string>queryForKind</string>
	<key>coordinatorAwayScope</key>
	<string>storageAboutState</string>
	<key>curveContainParameter</key>
	<string>navigatorVarInterval</string>
	<key>missedChartOpacity</key>
	<string>storageProxyForce</string>
	<key>normFlyweightTheme</key>
	<string>relationalCapsuleBorder</string>
	<key>ternaryExceptMethod</key>
	<string>discardedWidgetTop</string>
</dict>
</plist>
