<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalTaskKind</key>
	<string>stackOrCommand</string>
	<key>gemAdapterHead</key>
	<string>matrixStageScale</string>
	<key>modulusAgainstShape</key>
	<string>streamStyleHead</string>
	<key>rowDespitePrototype</key>
	<string>cubitAmongMediator</string>
	<key>signatureNearFramework</key>
	<string>composablePresenterBorder</string>
	<key>sophisticatedHeapHue</key>
	<string>actionLikeSingleton</string>
</dict>
</plist>
