<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionContainMediator</key>
	<string>skinThanParam</string>
	<key>checklistWorkDelay</key>
	<string>firstDelegateHue</string>
	<key>constraintVarShape</key>
	<string>fragmentAndVariable</string>
	<key>currentOffsetInset</key>
	<string>seamlessEffectName</string>
	<key>durationLevelAcceleration</key>
	<string>reactiveMobileTail</string>
	<key>heapKindTop</key>
	<string>priorityChainOpacity</string>
	<key>intensityAgainstSystem</key>
	<string>tweenDuringObserver</string>
	<key>positionFrameworkMomentum</key>
	<string>binaryBeyondFunction</string>
	<key>profileOfObserver</key>
	<string>behaviorOrLevel</string>
</dict>
</plist>
