<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBufferVisibility</key>
	<string>positionedEnvironmentTail</string>
	<key>cupertinoTitlePosition</key>
	<string>greatTextureSize</string>
	<key>gridFrameworkBrightness</key>
	<string>singleTaskBorder</string>
	<key>pivotalHashTheme</key>
	<string>immediatePetName</string>
	<key>smallAlignmentTail</key>
	<string>gridviewAboutBridge</string>
	<key>textureContainProcess</key>
	<string>repositoryAsParameter</string>
	<key>titleProxyColor</key>
	<string>columnStructureSpacing</string>
</dict>
</plist>
