<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicAxisBorder</key>
	<string>layoutStageTag</string>
	<key>hyperbolicInjectionInterval</key>
	<string>transformerAsMode</string>
	<key>mapAboutAdapter</key>
	<string>uniqueStoreResponse</string>
	<key>nodeAlongType</key>
	<string>spriteDuringVar</string>
	<key>presenterPerLevel</key>
	<string>cacheScopeTension</string>
	<key>relationalTopicState</key>
	<string>persistentSliderSaturation</string>
</dict>
</plist>
