<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferLevelTag</key>
	<string>injectionTemplePadding</string>
	<key>challengeContainActivity</key>
	<string>memberVisitorOrigin</string>
	<key>exceptionLikeState</key>
	<string>specifyPetKind</string>
	<key>firstEffectTint</key>
	<string>responseAlongEnvironment</string>
	<key>matrixCommandPressure</key>
	<string>sharedPlaybackPressure</string>
	<key>observerAgainstEnvironment</key>
	<string>denseChannelsFeedback</string>
	<key>permissiveCallbackLocation</key>
	<string>otherTitleSkewy</string>
	<key>projectionBeyondTier</key>
	<string>lastGiftName</string>
	<key>rowCommandCoord</key>
	<string>challengeOrProxy</string>
	<key>usedStateScale</key>
	<string>tickerFunctionTheme</string>
</dict>
</plist>
