<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterCompositeBottom</key>
	<string>materialStructureInterval</string>
	<key>chartTierScale</key>
	<string>futureWorkInset</string>
	<key>futureContextDepth</key>
	<string>titleInterpreterContrast</string>
	<key>loopIncludeBuffer</key>
	<string>labelContextRight</string>
	<key>stateFrameworkDepth</key>
	<string>titleWithoutMediator</string>
	<key>timerBeyondDecorator</key>
	<string>interactorBesideVisitor</string>
	<key>tweenVarSkewx</key>
	<string>hardAspectratioSaturation</string>
	<key>visibleAssetFrequency</key>
	<string>enabledExtensionName</string>
</dict>
</plist>
