<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentThroughOperation</key>
	<string>movementCycleTransparency</string>
	<key>exceptionVariableBrightness</key>
	<string>dependencyPhaseTheme</string>
	<key>keyIndicatorDensity</key>
	<string>criticalPrecisionFrequency</string>
	<key>utilVariableRotation</key>
	<string>immutableMenuFeedback</string>
</dict>
</plist>
