<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStyleForce</key>
	<string>textBesideLevel</string>
	<key>eventValueColor</key>
	<string>cupertinoAnimationOpacity</string>
	<key>hashNearChain</key>
	<string>mobileRowOrigin</string>
	<key>hierarchicalObserverInteraction</key>
	<string>sequentialStoreLocation</string>
	<key>multiplicationMethodStyle</key>
	<string>aspectContextVisibility</string>
	<key>multiplicationPlatformDepth</key>
	<string>delegateAtVisitor</string>
	<key>rectVariableBrightness</key>
	<string>iconActivityCoord</string>
	<key>spriteThanOperation</key>
	<string>specifierNearDecorator</string>
	<key>temporaryRemainderRate</key>
	<string>shaderProxyTag</string>
	<key>zoneAroundAdapter</key>
	<string>tensorRouteLeft</string>
</dict>
</plist>
