<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionGrayscaleMomentum</key>
	<string>skirtBridgeInterval</string>
	<key>layoutValueFormat</key>
	<string>unaryFormAcceleration</string>
	<key>protocolContainVariable</key>
	<string>compositionalFactoryValidation</string>
	<key>similarBaseTop</key>
	<string>usedFactoryForce</string>
</dict>
</plist>
