<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainThroughChain</key>
	<string>crucialInterfaceAppearance</string>
	<key>hierarchicalDescriptorSpeed</key>
	<string>uniqueThreadFeedback</string>
	<key>imagePerShape</key>
	<string>interfaceCommandOrigin</string>
	<key>reducerExceptValue</key>
	<string>webDecorationVelocity</string>
	<key>sequentialEquipmentKind</key>
	<string>singletonAgainstPrototype</string>
	<key>tabbarBesideOperation</key>
	<string>consultativeDropdownbuttonDepth</string>
</dict>
</plist>
