<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFactoryStatus</key>
	<string>streamContextOffset</string>
	<key>agileOffsetDirection</key>
	<string>resourceOfAction</string>
	<key>axisPlatformTop</key>
	<string>observerAwayFunction</string>
	<key>composableAssetTop</key>
	<string>cupertinoProviderCount</string>
	<key>cubitDespiteVar</key>
	<string>callbackFacadeRate</string>
	<key>parallelTopicVisible</key>
	<string>disparateMenuDensity</string>
	<key>previewAroundCommand</key>
	<string>localInstructionMode</string>
	<key>roleViaSingleton</key>
	<string>semanticTransitionTag</string>
	<key>routerTempleTension</key>
	<string>transitionPerForm</string>
</dict>
</plist>
