<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSizePressure</key>
	<string>denseSubscriptionPosition</string>
	<key>priorExceptionStatus</key>
	<string>subscriptionShapeRotation</string>
	<key>subsequentVectorAcceleration</key>
	<string>largeLayoutPosition</string>
</dict>
</plist>
