<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFunctionFrequency</key>
	<string>symbolBesideProxy</string>
	<key>capsuleAlongCommand</key>
	<string>playbackSincePlatform</string>
	<key>notifierOutsideMemento</key>
	<string>protectedTransformerVisibility</string>
	<key>observerByMemento</key>
	<string>hardWidgetTheme</string>
	<key>permissiveMobxMomentum</key>
	<string>statefulPageviewColor</string>
	<key>queryJobAlignment</key>
	<string>callbackAboutStrategy</string>
	<key>radiusSingletonShade</key>
	<string>gridviewSingletonHead</string>
	<key>routeInAction</key>
	<string>variantFlyweightTint</string>
	<key>skirtOrProcess</key>
	<string>semanticsMethodDensity</string>
	<key>transformerOrFlyweight</key>
	<string>topicUntilCommand</string>
</dict>
</plist>
