<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticHandlerDirection</key>
	<string>firstSemanticsMargin</string>
	<key>containerAsTier</key>
	<string>resizableAlignmentFlags</string>
	<key>gesturedetectorExceptObserver</key>
	<string>numericalInteractorResponse</string>
	<key>keyResourceDensity</key>
	<string>queueAboutPrototype</string>
	<key>mapContainProcess</key>
	<string>diffableSliderSkewy</string>
	<key>rowSystemForce</key>
	<string>significantHashBrightness</string>
	<key>serviceSinceBridge</key>
	<string>synchronousAxisForce</string>
	<key>taskTempleFormat</key>
	<string>standaloneInterfaceIndex</string>
</dict>
</plist>
