<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentStreamHue</key>
	<string>gradientModeDistance</string>
	<key>mutableReducerType</key>
	<string>sharedLayoutSkewx</string>
	<key>priorityBridgeDirection</key>
	<string>routeLayerFrequency</string>
	<key>resourceMethodInterval</key>
	<string>sinkNearJob</string>
	<key>robustTransitionCount</key>
	<string>flexibleAllocatorMargin</string>
	<key>serviceNearSingleton</key>
	<string>descriptionDuringObserver</string>
</dict>
</plist>
